﻿.form-group .form-control.error {
    border: 1px solid #d80000;
}

.form-group label.error {
    color: #d80000;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 26px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.bd-highlight {
    /*background-color: rgba(86,61,124,.15);*/
    border: 1px solid rgba(86,61,124,.15);
}


.loaderbody {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.loader-div {
    width: 100px;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid rgba(30, 30, 30, 0.5);
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
    margin: auto;
}

.loader-text {
    color: rgba(30, 30, 30, 0.5);
    text-align: center;
}

    .loader-text:after {
        content: 'Cargando';
        animation: load 1s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Cargando';
    }

    33% {
        content: 'Cargando.';
    }

    67% {
        content: 'Cargando..';
    }

    100% {
        content: 'Cargando...';
    }
}

.showPass {
    position: relative;
}

    .showPass i {
        position: absolute;
        right: 13px;
        top: 36px;
        cursor: pointer;
        padding: 2px 10px;
    }

.select2-selection.select2-selection--single.error {
    border: 1px solid #d80000 !important;
}


.moduleA a.collapsed:after {
    content: '+ Mostrar auditoría';
}

.moduleA a.mostrarA:after {
    content: '- Ocultar auditoría';
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 99999 !important;
}



/*******************************************/
.table-with-fixed-columns {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
}

    .table-with-fixed-columns th {
        background-color: #d0023c;
    }

    .table-with-fixed-columns td, .table-with-fixed-columns th {
        margin: 0;
        border: 1px solid grey;
        white-space: nowrap;
        border-top-width: 0px;
    }

.table-with-fixed-columns-div {
    width: 44.5em;
    overflow-x: scroll;
    margin-left: 29.5em;
    overflow-y: visible;
    padding: 0;
}

.table-with-fixed-columns .headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}
    .table-with-fixed-columns .headcol + th {
        background-color: #d0023c;
    }
    .table-with-fixed-columns .headcol + th, .table-with-fixed-columns .headcol + td {
        position: absolute;
        width: 7em;
        left: 6em;
        top: auto;
        border-top-width: 1px;
        margin-top: -1px;        
    }
        .table-with-fixed-columns .headcol + th + th {
            background-color: #d0023c;
            width: 15em;
        }

        .table-with-fixed-columns .headcol + th + th, .table-with-fixed-columns .headcol + td + td {
            position: absolute;
            
            left: 14em;
            top: auto;
            border-top-width: 1px;
            margin-top: -1px;
        }
.table-with-fixed-columns th.headcol2 {
    /*compensate for top border*/
    background-color: #d0023c;
}
.table-with-fixed-columns .headcol2 {
    position: absolute;
    width: 65px;
    right: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
}

/*.table-with-fixed-columns .headcol:before {
    content: 'Row ';
}*/

/*.long {
    background: yellow;
    letter-spacing: 1em;
}*/
