﻿
@{
    ViewData["Title"] = "Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaParametro)" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-xs btn-nuevo" data-toggle="modal" data-target="#mdlParametro"><i class="la la-plus mr-1"></i>Nuevo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tabla_parametro" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
<input type="hidden" id="hfaction" />
<partial name="Partials/_ModalParametro" />

@section Scripts{
    <script src="~/js/views/parametro/index.js" asp-append-version="true"></script>
}
