﻿@model int?
@{
    if (@Model > 0)
    {
        ViewData["Title"] = "Editar KIT";
        ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "KIT",Action ="Index",  Controller="KIT"  },
        new BreadcrumbViewData{ Name = "Editar" }
    };
    }
    else
    {
        ViewData["Title"] = "Agregar KIT";
        ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "KIT",Action ="Index",  Controller="KIT"  },
        new BreadcrumbViewData{ Name = "Agregar" }
    };
    }
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaKit)" />

<div class="container">

    <input type="hidden" id="IdKit" value="@(Model.HasValue ? Model.Value.ToString():"")" />
    <form action="/" method="post" id="kit_new_form">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="form-group col-lg-2 col-sm-6 ">
                        <label class="required-form-label">C&oacute;digo Interno</label>
                        <input type="text" class="form-control solonumeros text-uppercase form-control-sm text-center" name="ID-d" readonly disabled maxlength="150">
                    </div>
                    <div class="form-group  col-lg-7 col-sm-6 ">
                        <label class="required-form-label">Descripci&oacute;n KIT</label> <span class="font-weight-bold" style="color:red">*</span>
                        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
                    </div>
                    <div class="form-group  col-lg-3 col-sm-6 ">
                        <label class="required-form-label">Unid. Med.</label> <span class="font-weight-bold" style="color:red">*</span>
                        <select class="form-control form-control-sm form-select-unidadmedida select-unidadmedida " id="cboUndMed" required name="GDUNDDMDDA"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-5 col-sm-6 ">
                        <label class="required-form-label">Familia</label> <span class="font-weight-bold" style="color:red">*</span>
                        <select class="form-control form-control-sm form-select-familias select-familias" id="cboFamilia" required name="IDFMLA"></select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 ">
                        <label class="required-form-label">C&oacute;digo SAP</label>
                        <input type="text" class="form-control text-uppercase form-control-sm alfaNumCharEsp" name="CSAP" maxlength="150">
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 ">
                        <label class="required-form-label">Costo $</label>
                        <input type="number" class="form-control form-control-sm text-right" name="CSTO" maxlength="10" disabled>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-9 col-sm-6 ">
                        <label class="required-form-label">C&oacute;digo de Barra</label>
                        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="CBRRA" required maxlength="150">
                    </div>
                </div>*@
                <hr />
                <div id="DivBusqueda" class="row form-group align-items-end mb-2">
                    <div class="col-lg-5 col-sm-6 ">
                        <label class="required-form-label">Descripci&oacute;n Artículo</label> <span class="font-weight-bold" style="color:red">*</span>
                        <div name="ValtxtBusqueda" class="input-group">
                            <input id="txtBusqueda" name="txtBusqueda" type="text" placeholder="Buscar Artículos" class="form-control alfaNumCharEsp text-uppercase form-control-sm" maxlength="150" style="font-family:Arial, FontAwesome">
                            <input id="dataecontrada" type="hidden">
                        </div>
                    </div>
                    <div class="col-1">
                        <a data-toggle="modal" id="btnKitLimpiar" title="Editar" href="#" class="btn btn-info btn-xs">
                            <i class="la la-marker"></i>
                        </a>
                    </div>
                    <div class="col-1">
                        <a data-toggle="modal" id="btnKitBuscar" title="Búqueda de Artículos." href="#modal_kitArticulo" class="btn btn-info btn-xs">
                            <i class="la la-search"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="required-form-label">Cantidad</label> <span class="font-weight-bold" style="color:red">*</span>
                        <div name="ValCNTDD" class="input-group">
                            <input id="txtCantidad" type="text" class="form-control text-uppercase form-control-sm" name="CNTDD" maxlength="10">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                        <span class="d-block">&nbsp;</span>
                        <a data-toggle="modal" id="btnKitAgregar" href="#" class="btn btn-success btn-xs">
                            <i class="la la-angle-double-down"></i> Agregar
                        </a>
                    </div>
                </div>
                <div id="divtabla" class="row">
                    <table id="tabla_articuloadd" class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th class="text-center" width="1%"></th>
                                <th class="text-center">Código SAP</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Unid. Med.</th>
                                <th width="20%" class="text-center">Cantidad</th>
                                <th width="10%" class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td colspan="5" class="text-center">Cargando datos...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @* AUDITORIA *@
        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
        <hr />
        <div class="row mt-2">
            <div class="col-lg-2 col-sm-6">
                <a class="btn btn-secondary btn-xs btn-block" asp-controller="Kit" asp-action="Index">
                    <i class="la la-arrow-left mr-1"></i>Regresar
                </a>
            </div>
            <div class="col-lg-8 col-sm-6">

            </div>
            <div class="col-lg-2 col-sm-6">
                <button id="btnKitGuardar" type="button" class="btn btn-primary btn-xs btn-block"><i class="la la-save mr-1"></i>Guardar</button>

            </div>
        </div>
        <partial name="/Views/Shared/Partials/_ModalKitArticulo.cshtml" />
    </form>
</div>

@section Scripts{
    <script src="~/js/views/kit/index.js" asp-append-version="true"></script>
}
