﻿@{
    ViewData["Title"] = "Listado KIT";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "KIT" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaKit)" />

<div class="row">
    <div class="col-lg-12">
        <a asp-controller="Kit" asp-action="AddKit" id="btnkitnew" class="btn btn-primary btn-xs"><i class="la la-plus"></i>Nuevo</a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_kit" class="table table-striped table-bordered"></table>
    </div>
</div>

@section Scripts{
    <script src="~/js/views/kit/index.js" asp-append-version="true"></script>
}
