﻿@model string
@{
    ViewData["Title"] = "404";
    Layout = "/Views/Shared/_LayoutError.cshtml";
}
<h2 class="text-center">404</h2>
<p class="text-center">Página no encontrada.</p>
<a href="@Model">Regresar</a>