﻿﻿<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_asignar_personal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Asignar Personal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-lg-2" style="padding-top: 1.8em">
                            <div class="form-check" id="Bmbs">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label" for="dfCheck">Bambas</label>
                            </div>
                        </div>
                        <div class="col-lg-10" id="cbocntrtst">
                            <label class="required-form-label">Contratista</label>
                            <select id="cbo_empresa" name="cbo_empresa" class="form-control form-control-sm"></select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-3">
                            <label class="required-form-label">C&oacute;digo SAP</label>
                            <input id="txtCSAP" name="txtCSAP" class="form-control form-control-sm" type="text" />
                        </div>
                        <div class="col-lg-9">
                            <label class="required-form-label">Nombres y Apellidos / Raz&oacute;n Social</label>
                            <input id="txtNombRazon" name="txtNombRazon" class="form-control form-control-sm" type="text" />
                        </div>
                    </div>
                    <div class="row mb-2" style="margin-top:1em;">
                        <div class="col-lg-12">
                            <button type="button" id="btnBuscarPersonal" class="btn btn-xs btn-primary pull-right">
                                <i class="fa fa-search mr-1"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="tabla_Personal" class="table table-striped table-bordered display"></table>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-xs btn-secondary pull-left" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="btnAgregarPersonal" class="btn btn-xs btn-primary pull-right">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
