﻿@{
    ViewData["Title"] = "Listado Empresas";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Empresas" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaEmpresa)" />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="home" aria-selected="true">Empresas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="sucursal-tab" data-toggle="tab" href="#sucursal" role="tab" aria-controls="profile" aria-selected="false">Sucursales</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link disabled" id="sucursalUsuarios-tab" data-toggle="tab" href="#sucursalUsuario" role="tab" aria-controls="profile" aria-selected="false">Usuarios</a>
    </li>*@
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
        <div class="row">
            <div class="col-lg-12">
                <a data-toggle="modal" id="btnAgregarEmpresa" href="#modal_agregar_empresa" class="btn btn-primary btn-xs">
                    <i class="la la-plus"></i>Nueva
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_empresa" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="sucursal" role="tabpanel" aria-labelledby="sucursal-tab">
        <div class="row">
            <div class="col-lg-12">
                <label id="lblempresa" name="lblempresa" class="required-form-label"></label>
            </div>
            <div class="col-lg-12">
                <a data-toggle="modal" id="btnAgregarSucursal" href="#modal_agregar_sucursal" class="btn btn-primary btn-xs">
                    <i class="la la-plus"></i>Nueva
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_sucursal" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    @*<div class="tab-pane fade" id="sucursalUsuario" role="tabpanel" aria-labelledby="sucursalUsuarios-tab">
        <div class="row">
            <div class="col-lg-12  mb-1">
                <button class="btn btn-primary btn-xs pull-right" id="btn-guardarSucursalUsuario">
                    <i class="la la-save"></i>Guardar
                </button>
            </div>
            <div class="col-lg-12">
                <table id="tabla_sucursalUsuario" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>*@
</div>
<input type="hidden" id="empresaId" />
<input type="hidden" id="sucursalId" />

<partial name="Partials/_ModalAgregarEmpresa" />
<partial name="Partials/_ModalEditarEmpresa" />
<partial name="Partials/_ModalAgregarSucursal" />
<partial name="Partials/_ModalEditarSucursal" />

@section Scripts{
    <script src="~/js/views/empresa/index.js" asp-append-version="true"></script>
    <script src="~/js/ubigeos.js" asp-append-version="true"></script>
}
