﻿@{
    ViewData["Title"] = "Imprimir Código de Barras";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Imprimir Código de Barras" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaCodigoBarras)" />

<div class="container">
    <div class="row">
        <div class="form-group  col-lg-3 col-sm-6 ">
            <label class="required-form-label">C&oacute;digo</label>
            <input id="txtCodigo" type="text" class="form-control solonumeros text-uppercase form-control-sm text-center" name="CDGO" maxlength="15">
        </div>
        <div class="form-group  col-lg-9 col-sm-6 ">
            <label class="required-form-label">Descripci&oacute;n</label>
            <input id="txtdscrpcn" type="text" class="form-control solonumeros text-uppercase form-control-sm text-left" name="DSCRPCN">
        </div>
    </div>
    <div class="row align-items-end">
        <div class="form-group  col-lg-2 col-sm-6 ">
            <label class="required-form-label">Cantidad</label>
            <input id="txtcntdd" type="text" class="form-control solonumeros text-uppercase form-control-sm text-right" name="CNTDD">
        </div>
        <div class="form-group  col-lg-7 col-sm-6 ">
        </div>
        <div class="form-group col-lg-3 col-sm-6 ">
            <button id="btnImprimir" type="button" class="btn btn-primary btn-xs mr-1 btn-block pull"><i class="la la-barcode mr-1"></i>Imprimir C&oacute;digos</button>
        </div>
    </div>
    <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
</div>

@section Scripts{
    <script src="~/js/views/codigobarras/index.js" asp-append-version="true"></script>
}
