﻿
<div class="form-group row">
    <div class="col-lg-12">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Roster</label> <span class="font-weight-bold" style="color:red">*</span>
        <select id="" name="IDRSTR" class="form-control form-control-sm select-roster" required></select>
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Turno</label> <span class="font-weight-bold" style="color:red">*</span>
        <select id="" name="GDTRNO" class="form-control form-control-sm select-turno" required></select>
    </div>
    <div class="col-lg-4">
        <span class="required-form-span">Fecha Inicio </span> <span class="font-weight-bold" style="color:red">*</span>
        <div class="input-group">
            <input name="FINCO" class="form-control form-control-sm formatoFechas " type="text" required>
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Guardias de D&iacute;a</label>
        <input type="text" class="form-control form-control-sm solonumeros" name="DSGRDA" disabled maxlength="2">
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Hora Inicio - Turno D&iacute;a</label>
        <input class="form-control  text-uppercase form-control-sm timepicker  timepicker-with-dropdown alfaNumCharEsp" name="HRAINCODA" required disabled>
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Hora Fin - Turno D&iacute;a</label>
        <input class="form-control  form-control-sm  timepicker  timepicker-with-dropdown alfaNumCharEsp" name="HRAFNDA" required disabled>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Guardias de Noche</label>
        <input type="text" class="form-control form-control-sm solonumeros" name="NCHSGRDA" disabled maxlength="2">
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Hora Inicio - Turno Noche</label>
        <input class="form-control  text-uppercase form-control-sm  timepicker  timepicker-with-dropdown alfaNumCharEsp" name="HRAINCONCHE" required disabled>
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Hora Fin - Turno Noche</label>
        <input class="form-control  text-uppercase form-control-sm  timepicker  timepicker-with-dropdown alfaNumCharEsp" name="HRAFNNCHE" required disabled>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">D&iacute;as de Descanso</label>
        <input type="text" class="form-control form-control-sm solonumeros" name="DSDSCNSO" disabled>
    </div>
</div>


@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />