﻿﻿﻿<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 ">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlArchivo" id="btnNuevoArchivo">
                <i class="la la-plus mr-1"></i>Nuevo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="dtArchivo" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
<input type="hidden" id="hfactionArchivo" />
<input type="hidden" id="hfCodArchivo" />
<!-- Modal -->
<div class="modal fade" id="mdlArchivo" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="mdlArchivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlArchivoLabel">Agregar Archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormularioArchivo" autocomplete="off" enctype="multipart/form-data">
                    <input type="hidden" name="IDPRSNA" />
                    <div class="form-group d-flex">
                        @*<div class="col-lg-3">
                            <label class="required-form-label">Código Archivo</label>
                            <div class="input-group">
                                <input id="txtIDArchivo" name="txtIDArchivo" class="form-control form-control-sm disabled" type="text" readonly="readonly" />
                            </div>
                        </div>*@
                        <div class="col-lg-12">
                            <label class="required-form-label">Cargar Archivo</label> <span class="font-weight-bold" style="color:red">*</span>
                            <div class="input-group">
                                <input id="txtFileLoad" name="Archivo" class="form-control form-control-sm" type="file" required maxlength="150">
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-lg-12">
                            <label class="required-form-label">Nombre del Archivo</label> <span class="font-weight-bold" style="color:red">*</span>
                            <div class="input-group">
                                <input id="txtNombArch" name="NMBRARCHV" class="form-control form-control-sm text-uppercase alfaNumCharEsp" type="text" required maxlength="150">
                            </div>
                        </div>
                    </div>
                    <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardarArchivo" class="btn btn-primary btn-xs">Guardar</button>
            </div>
        </div>
    </div>
</div>
