﻿<div class="modal fade" id="mdlSusalud" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mdlSusaludLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlSusaludLabel">B&uacute;squeda Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-3 px-1">
                            <span>Tipo Documento</span>
                            <select id="cboSSLD-TDocumento" class="form-control form-control-sm" disabled action="false"></select>
                        </div>
                        <div class="col-3 px-1">
                            <span class="required-form-span">Nro. Documento</span> <span class="font-weight-bold" style="color:red">*</span>
                            <input type="text" id="txtSSLD-NDocumento" class="form-control form-control-sm solonumeros" value="" required/>
                        </div>
                        <div class="col-6 px-1 pt-3 text-right">
                            <button type="button" id="btnBuscarSUSALUD" class="btn btn-primary btn-xs"><i class="fa fa-search mr-1"></i> Buscar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table id="dtPersonaSusalud" class="table table-striped table-bordered tabla_Busqueda"></table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>