﻿<div class="container">
    @*<div class="row justify-content-center">
        <div class="col-12 ">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlArchivo" id="btnNuevoArchivo">
                <i class="la la-plus mr-1"></i>Nuevo
            </button>
        </div>
    </div>*@
    <div class="row">
        <div class="col-12">
            <table id="dtColaboradores" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>