﻿<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 ">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlCorreo" id="btnNuevoCorreo">
                <i class="la la-plus mr-1"></i>Nuevo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tabla_correo" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
<input type="hidden" id="hfCodPersona" value="1" />
<input type="hidden" id="hfactionCorreo" />
<input type="hidden" id="hfCodCorreo" />
<!-- Modal -->
<div class="modal fade" id="mdlCorreo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mdlCorreo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:70%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Correo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormularioCorreo">
                    <div class="row justify-content-end mb-1">
                        <div class="col-2 text-right"></div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-lg-6">
                            <label class="required-form-label">Tipo de Correo</label> <span class="font-weight-bold" style="color:red">*</span>
                            <select id="cboTCorreo" name="cboTCorreo" class="form-control form-control-sm">
                            </select>

                        </div>
                        <div class="col-lg-6">
                            <label class="required-form-label">Predeterminado</label>
                            <select id="cboPrincipalCorreo" name="cboPrincipalCorreo" class="form-control form-control-sm select-principal-Correo">
                            </select>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col">
                            <label class="required-form-label">Correo</label> <span class="font-weight-bold" style="color:red">*</span>
                            <input id="txtCorreo" name="txtCorreo" class="form-control form-control-sm alfaNumCharMail text-uppercase" type="email" maxlength="100">
                        </div>
                    </div>                    
                    <partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                <button id="btnGrabarCorreo" type="button" class="btn btn-primary btn-xs">Grabar</button>

            </div>
        </div>
    </div>
</div>