﻿<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 ">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlDireccion" id="btnNuevoDireccion">
                <i class="la la-plus mr-1"></i>Nuevo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tabla_direccion" class="table table-striped table-bordered"></table>
        </div>
    </div>
 </div>
<input type="hidden" id="hfCodPersona" value="1" />
<input type="hidden" id="hfactionDireccion" />
<input type="hidden" id="hfCodDireccion" />
<!-- Modal -->
<div class="modal fade" id="mdlDireccion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-spanledby="mdlDireccion" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalspan">Agregar Dirección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-span="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormularioDireccion" autocomplete="off">
                    <div class="col-12">
                        <div class="form-group d-flex  justify-content-end mb-1">
                            <div class="col-2 text-right">
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-lg-4">
                                <span class="required-form-span">Tipo Direcci&oacute;n </span> <span class="font-weight-bold" style="color:red">*</span>
                                <select id="cboTDireccion" name="cboTDireccion" class="form-control form-control-sm">
                                </select>
                            </div>
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-4">
                                <span class="required-form-span">Predeterminado</span>
                                <select id="cboPrincipalDireccion" name="cboPrincipalDireccion" class="form-control form-control-sm"></select>
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-lg-4">
                                <span class="required-form-span">Tipo V&iacute;a </span> <span class="font-weight-bold" style="color:red">*</span>
                                <select id="cboTVia" name="cboTVia" class="form-control form-control-sm">
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <span class="required-form-span">V&iacute;a </span>
                                <input id="txtVia" class="form-control form-control-sm text-uppercase alfaNumCharEsp" type="text" maxlength="40" />
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col">
                                        <span class="required-form-span">Nro. V&iacute;a</span> <span class="font-weight-bold" style="color:red">*</span>
                                        <input id="txtNroVia" name="txtNroVia" class="form-control form-control-sm solonumeros" type="text" maxlength="5" />
                                    </div>
                                    <div class="col">
                                        <span class="required-form-span">Nro. Interior</span>
                                        <input id="txtInterior" class="form-control form-control-sm text-uppercase alfanumerico" type="text" maxlength="5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-lg-4">
                                <span class="required-form-span">Tipo Zona </span>
                                <select id="cboTipoZona" name="cboTipoZona" class="form-control form-control-sm">
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <span class="required-form-span">Zona </span>
                                <input id="txtNroZona" name="Zona" class="form-control form-control-sm text-uppercase alfaNumCharEsp input-zona" maxlength="40" type="text" disabled>
                            </div>
                        </div>
                        <div class="form-group d-flex mb-1">
                            <div class="col-lg-4">
                                <span class="required-form-span">Departamento</span> <span class="font-weight-bold" style="color:red">*</span>

                                <select id="cboDepartamentoDirec" class="form-control form-control-sm" name="cboDepartamentoDirec"></select>
                            </div>

                            <div class="col-lg-4">
                                <span class="required-form-span">Provincia</span> <span class="font-weight-bold" style="color:red">*</span>
                                <select id="cboProvinciaDirec" class="form-control form-control-sm" name="cboProvinciaDirec" disabled>
                                </select>
                            </div>

                            <div class="col-lg-4">
                                <span class="required-form-span">Distrito</span> <span class="font-weight-bold" style="color:red">*</span>
                                <select id="cboDistritoDirec" name="cubgeo" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-lg-12">
                                <span class="required-form-span">Referencia </span>
                                <textarea id="txtReferencia" class="form-control form-control-sm text-uppercase alfaNumCharEsp numeroCaracteres" cols="20" rows="3"></textarea>
                                <div class="text-right"><span id="caracteres" class="valid-text pt-3 caracteres"></span></div>
                            </div>
                        </div>
                        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>

                <button id="btnGrabarDireccion" type="button" class="btn btn-primary btn-xs">Grabar</button>

            </div>
        </div>
    </div>
</div>