﻿<!-- Modal -->
<div class="modal fade" id="modalCropper" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalCropper" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recortar Imagen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="croppie-container">
                    <div id="main-cropper"></div>
                    <input type="file" id="seleccion-imagen" class="form-control" value="Seleccione imagen" accept="image/*">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                <button id="btnupload" type="button" name="btnupload" class="btn btn-primary btn-xs">Recortar</button>
            </div>
        </div>
    </div>
</div>