﻿<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 ">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlTelefono" id="btnNuevoTelefono">
                <i class="la la-plus mr-1"></i>Nuevo
            </button>
        </div>
     </div>
     <div class="row">
         <div class="col-12">
             <table id="tabla_telefono" class="table table-striped table-bordered"></table>
         </div>
     </div>

</div>
<input type="hidden" id="hfCodPersona" value="1" />
<input type="hidden" id="hfactionTelefono" />
<input type="hidden" id="hfCodTelefono" />
<!-- Modal -->
<div class="modal fade" id="mdlTelefono" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mdlTelefono" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Teléfono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormularioTelefono">
                    <div class="col-12 ">
                        <div class="row justify-content-end mb-1">
                            <div class="col-2 text-right">

                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-lg-4">
                                <label class="required-form-label">Tipo Teléfono</label> <span class="font-weight-bold" style="color:red">*</span>
                                <select id="cboTTelefono" name="cboTTelefono" class="form-control form-control-sm">
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label class="required-form-label">Nro. Teléfono</label> <span class="font-weight-bold" style="color:red">*</span>
                                <input id="txtTelefono" name="txtTelefono" class="form-control form-control-sm solonumeros" type="text" minlength="9" maxlength="12"/>
                            </div>
                            <div class="col-lg-4">
                                <label class="required-form-label">Predeterminado</label>
                                <select id="cboPrincipalTelefono" name="cboPrincipalTelefono" class="form-control form-control-sm select-principal">
                                </select>
                            </div>
                        </div>                        
                        <div class="form-group d-flex">
                            <div class="col-lg-4">
                                <label class="required-form-label">Departamento</label>
                                <select id="cboDepartamentoTlfno" name="cboDepartamentoTlfno" class="form-control form-control-sm select-departamento">
                                </select>
                            </div>
                            <div class="col-lg-8">
                                <label class="required-form-label">Observación</label>
                                <input id="txtObservacion" class="form-control form-control-sm alfaNumCharEsp text-uppercase" type="text" maxlength="100" />
                            </div>
                        </div>
                       
                        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                <button id="btnGrabarTelefono" type="button" class="btn btn-primary btn-xs">Grabar</button>
            </div>
        </div>
    </div>
</div>