﻿@{
    ViewData["Title"] = "Listado Grupo Dato";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Grupo dato",  },
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaGrupoDato)" />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="grupodato-tab" data-toggle="tab" href="#grupodato" role="tab" aria-controls="home" aria-selected="true">Grupo dato</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="grupodatodetalle-tab" data-toggle="tab" href="#grupodatodetalle" role="tab" aria-controls="profile" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="grupodato" role="tabpanel" aria-labelledby="grupodato-tab">
        <div class="row">
            <div class="col-lg-12">
                <a data-toggle="modal" id="btnAgregarGrupoDato" href="#modal_agregar_grupodato" class="btn btn-primary btn-xs">
                    <i class="la la-plus"></i>Nuevo
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_grupodato" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="grupodatodetalle" role="tabpanel" aria-labelledby="grupodatodetalle-tab">
        <div class="row">
            <div class="col-lg-12">
                <label id="lblgrupodato" name="lblgrupodato" class="required-form-label"></label>
            </div>
            <div class="col-lg-12">
                <a data-toggle="modal" id="btnAgregarGrupoDatoDetalle" href="#modal_agregar_grupodatodetalle" class="btn btn-primary btn-xs">
                    <i class="la la-plus"></i>Nuevo
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_grupodatodetalle" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="codigoGrupoDato" />

<partial name="Partials/_ModalAgregarGrupoDato" />
<partial name="Partials/_ModalEditarGrupoDato" />
<partial name="Partials/_ModalAgregarGrupoDatoDetalle" />
<partial name="Partials/_ModalEditarGrupoDatoDetalle" />

@section Scripts{
    <script src="~/js/views/grupo-dato/index.js" asp-append-version="true"></script>
    @*<script src="~/js/views/grupo-dato/detalle.js"></script>*@
}
