﻿
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Gerencia</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm form-select-gerencias select-gerencias" name="IDGRNCA" required></select>
    </div>
    <div class="form-group col-lg-4">
        <label class="required-form-label">Superintendencia</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm form-select-superintendencias select-superintendencias" name="IDSPRINTNDNCA" required></select>
    </div>
    <div class="form-group col-lg-12">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />