﻿
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Tipo de almac&eacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm form-select-familias select-tipo-almacen" name="GDTALMCN" required>
        </select>
    </div>
    <div class="form-group col-lg-8 ">
        <label class="required-form-label">Responsable</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm select-trabajador" name="IDTRBJDR" required>
        </select>
    </div>
    <div class="form-group col-lg-12 ">
        <label class="required-form-label">Almac&eacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />