﻿
<div class="form-group row">
    <div class="col-lg-12">
        <label class="required-form-label">Descripci&oacute;n</label>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />