﻿<div class="modal fade" id="mdlArchivo" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="mdlArchivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cargar Archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formularioCargaExcel" autocomplete="off" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label class="required-form-label">Seleccione Archivo</label>
                            <div class="input-group">
                                <input name="Archivo" class="form-control form-control-sm" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="btnGuardarArchivo" class="btn btn-primary btn-xs">Cargar</button>
                </div>
            </form>
        </div>
    </div>
</div>
