﻿
@primary-action-color: #d0023c;
@color-cabecera: #d0023c;
@color-menu: #001e38;
@color-cabecera-menu: #d0023c;
@color-letra-cabecera: #fff;
@color-letra-menu: #fff;

@color-boton-primario: #d0023c;
@color-letra-boton-primario: #fff;

@color-boton-secundario: #001e38;
@color-letra-boton-secundario: #fff;