﻿@model int
@{
    ViewData["Title"] = "Listado Familias";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Familias" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaFamilia)" />

<div class="row">
    <div class="col-lg-2">
        <label class="d-block">&emsp;</label>
        <a data-toggle="modal" id="btnNuevaFamilia" href="#modal_familia" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>

    <div class="col-lg-12">
        <table id="tabla_familia" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalFamilia" />

@section Scripts{
    <script src="~/js/views/familia/index.js" asp-append-version="true"></script>
}
