﻿@model int
@{
    ViewData["Title"] = "Listado SubFamilia";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "SubFamilias" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaSubFamilia)" />

<div class="row">
    <div class="col-lg-2">
        <label class="d-block">&emsp;</label>
        <a data-toggle="modal" id="btnSubFamilia" href="#modal_subfamilia" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>
    <div class="col-lg-3">
        <label class="required-form-label">Familia</label>
        <select class="form-control form-control-sm filtro-select-familias select-familias"></select>
    </div>
    <div class="col-lg-12">
        <table id="tabla_subfamilia" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalSubFamilia" />

@section Scripts{
    <script src="~/js/views/subfamilia/index.js" asp-append-version="true"></script>
}
