﻿.nGrid {
    margin: auto;
    /*width: 63%;*/
}

.home {
    /*height: 460px;*/
}

    .home .ctWelcome {
        /*background-color: #ffa00  e;*/
        position: relative;
        top: 30%;
        padding: 20px;
    }

    .home .box-ctWelcome {
        width: 100%;
        margin: auto;
    }

.lflt {
    float: left;
}

.home .ctborder {
    padding: 10px;
    border-right: 1px solid #ffffff;
}

.home .txtWelcome {
    font-size: 11px;
    font-family: tahoma;
    font-weight: bold;
}

.home .txtNmUsuario {
    font-size: 25px;
    color: #404040;
    font-family: Arial;
}

.pt2 {
    padding: 2px 0px;
}

.home .txtNmUsu {
    font-size: 14px;
    font-family: Tahoma;
    color: #636262;
}

.home .txtOtros {
    font-size: 11px;
    font-family: Tahoma;
    color: #2e2b2b;
    font-weight: bold;
}

.ltxt {
    text-align: left;
}

.colmn55 {
    width: 55px;
    float: left;
    word-wrap: break-word;
}

.rtxt {
    text-align: right;
}

.colmn100 {
    float: left;
    word-wrap: break-word;
}

.brk {
    clear: both;
}

.brk10 {
    clear: both;
    height: 10px;
}

.home img {
    /*max-width: 150%;*/
    border: 0px;
    padding: 55px 15px;
}
