﻿@{
    ViewData["Title"] = "Listado de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Usuarios" }
    };

}
@section Styles {

}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaUsuario)" />
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" id="listausuario-tab" data-toggle="tab" href="#listaUsuarios" role="tab" aria-controls="home" aria-selected="true">Listar Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="datousuario-tab" data-toggle="tab" href="#datosUsuario" role="tab" aria-controls="profile" aria-selected="false">Datos de Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="configuracion-tab" data-toggle="tab" href="#configUsuario" role="tab" aria-controls="profile" aria-selected="false">Perfiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="sucursalUsuarios-tab" data-toggle="tab" href="#sucursalUsuario" role="tab" aria-controls="profile" aria-selected="false">Sucursales</a>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="listaUsuarios" role="tabpanel" aria-labelledby="listaUsuarios-tab">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-xs btn-nuevo">
                            <i class="la la-plus mr-1"></i>Nuevo
                        </button>
                    </div>
                    <div class="col-12">
                        <table id="tabla_Usuario" class="table table-striped table-bordered"></table>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="datosUsuario" role="tabpanel" aria-labelledby="datosUsuario-tab">
                <partial name="Partials/_DatosUsuarioForm.cshtml" />
            </div>
            <div class="tab-pane fade" id="configUsuario" role="tabpanel" aria-labelledby="configUsuario-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-xs btn-primary pull-right" id="guardar-perfilPorUsuario">
                            <i class="la la-save mr-1"></i>Guardar
                        </button>
                    </div>
                    <div class="col-12">
                        <table id="tabla_Configuracion" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="sucursalUsuario" role="tabpanel" aria-labelledby="sucursalUsuarios-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="required-form-label">Empresas</label>
                        <select class="form-control form-control-sm select-empresas">
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="d-block">&emsp;</label>
                        <button class="btn btn-xs btn-primary pull-right" id="guardar-sucursalesPorUsuario">
                            <i class="la la-save mr-1"></i>Guardar
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <table id="tabla_sucursalUsuario" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hfaction" />


<partial name="Partials/_ModalBuscarPersona" />

@section Scripts{
    <script src="~/js/views/usuario/index.js" asp-append-version="true"></script>
}