﻿@model int
@{
    ViewData["Title"] = "Listado áreas";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Áreas" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaArea)" />

<div class="row">
    <div class="col-lg-2">
        <label class="d-block">&emsp;</label>
        <a data-toggle="modal" id="btnArea" href="#modal_area" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>
    <div class="col-lg-3">
        <label class="required-form-label">Gerencia</label>
        <select class="form-control form-control-sm filtro-select-gerencias select-gerencias"></select>
    </div>
    <div class="col-lg-3">
        <label class="required-form-label">Superintendencia</label>
        <select class="form-control form-control-sm filtro-select-superintendencias select-superintendencias"></select>
    </div>

    <div class="col-lg-12">
        <table id="tabla_area" class="table table-striped table-bordered"></table>
    </div>
</div>
<partial name="Partials/_ModalArea" />

@section Scripts{
    <script src="~/js/views/area/index.js" asp-append-version="true"></script>
}
