﻿@{
    ViewData["Title"] = "Listado Roster";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Roster" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaRoster)" />

<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnRoster" href="#modal_roster" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_roster" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalRoster" />

@section Scripts{
    <script src="~/js/views/roster/index.js" asp-append-version="true"></script>
}
