﻿
<div class="form-group row">
    <div class="col-lg-4">
        <label class="required-form-label">Grupo de Cargo</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm form-select-grupocargo select-grupocargo" name="IDGRPO" required></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weigth-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
</div>

    @* AUDITORIA *@
    <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
