﻿@model int
@{
    ViewData["Title"] = "Actualización";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Almacén", Controller="Almacen", Action="Index" },
        new BreadcrumbViewData{ Name = "Stock", Url = Url.Action("Stock", "Almacen", new { id=Model  }) },
new BreadcrumbViewData{ Name = "Actualización stock" },
};
}
@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaAlmacen)" />*@
<input type="hidden" id="IdAlmacen" value="@(Model.ToString())" />
<div class="row">
    <form id="formularioCargaExcel" class="col-lg-12" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-10">
                <label class="required-form-label">Seleccione Archivo</label>
                <div class="input-group">
                    <input name="Archivo" class="form-control form-control-sm" type="file" />
                </div>
            </div>
            <div class="col-lg-2">
                <label class="d-block">&emsp;</label>
                <button type="submit" id="btnGuardarArchivo" class="btn btn-primary btn-xs pull-right">Cargar</button>
            </div>
        </div>
    </form>
    <div class="col-lg-12">
        <div class="mt-3">
            <h6>&Uacute;LTIMA ACTUALIZACI&Oacute;N: <span class="ultima-actualizacion"></span></h6>
            <br />
            <h6>REALIZADA POR: <span class="ultimo-responsable"></span></h6>
        </div>
    </div>
    <div class="col-lg-12">
        <table id="tabla_almacen" class="table table-striped table-bordered"></table>
    </div>
</div>
<br />
<div>
    <a class="btn btn-secondary btn-xs pull-left" asp-controller="almacen" asp-action="Stock" asp-route-id="@(Model.ToString())">
        <i class="la la-arrow-left mr-1"></i>Regresar
    </a>
</div>

@section Scripts{
    <script src="~/js/views/almacen/actualizacion.js" asp-append-version="true"></script>
}
