﻿@{
    ViewData["Title"] = "Listado Almacén";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Almacén" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaAlmacen)" />

<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnAlmacen" href="#modal_almacen" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>

    @*<a asp-controller="Almacen" asp-action="ActualizacionAlmacen" class="btn btn-primary btn-xs pull-right">
            <i class="la la-file-excel mr-1"></i>Actualizar Stock
    </a>*@
    </div>
    <div class="col-lg-12">
        <table id="tabla_almacen" class="table table-striped table-bordered"></table>
    </div>
    
</div>


<partial name="Partials/_ModalAlmacen" />

@section Scripts{
    <script src="~/js/views/almacen/index.js" asp-append-version="true"></script>
}
