﻿@model int
@{
    ViewData["Title"] = "Stock de Almacén";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Almacén",Action ="Index",  Controller="Almacen" },
        new BreadcrumbViewData{ Name = "Stock" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaAlmacen)" />

<input type="hidden" id="IdAlmacen" value="@(Model.ToString())" />
<div class="row">
    <div class="col-lg-12">

        <a asp-controller="Almacen" asp-action="ActualizacionAlmacen" asp-route-id="@(Model.ToString())" class="btn btn-xs btn-act btn-primary pull-right" id="btnStock" title="Actualizar Stock">Actualizar stock</a>
    </div>

    <div class="col-lg-12">
        <table id="tabla_almacen" class="table table-striped table-bordered"></table>
    </div>
</div>
<br />
<div>
    <a class="btn btn-secondary btn-xs pull-left" asp-controller="Almacen" asp-action="Index">
        <i class="la la-arrow-left mr-1"></i>Regresar
    </a>
    <button id="btnGrabar" type="button" class="btn btn-primary btn-xs mr-1 pull-right"><i class="la la-save mr-1"></i>Guardar</button>
</div>


<partial name="Partials/_ModalAlmacen1" />

@section Scripts{
    <script src="~/js/views/almacen/Stock.js" asp-append-version="true"></script>
}
