﻿@{
    ViewData["Title"] = "Listado errores";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Errores" }
    };
}

<div class="row">
    <div class="col-lg-12">
        <a asp-controller="Error" asp-action="Descargar" class="btn btn-secondary btn-xs">
            <i class="la la-download"></i>Descargar Log
        </a>
    </div>
    <div class="col-lg-12">
        <table id="table_id" class="table table-striped table-bordered"></table>
    </div>
</div>

    @section Scripts{
        <script src="~/js/views/error/index.js" asp-append-version="true"></script>
    }
