@model int?
@{
    ViewData["Title"] = "Trabajador";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Listado Trabajador",Action="Index", Controller="Trabajador" },
        new BreadcrumbViewData{ Name = "Datos trabajador" }
    };
}

@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPersona)" />*@

<input type="hidden" id="IdTrabajador" value="@(Model.HasValue ? Model.Value.ToString():"")" />
<form action="/" method="post" id="trabajador_form">
    <input type="hidden" id="IdPersona" name="IDPRSNA" value="@(((int?)ViewBag.IdPersona).HasValue ? ViewBag.IdPersona.ToString(): "")" />
    <div class="row form-group">
        <div class="col-lg-2">
            <div class="row">
                <div class="col-lg-12" style="display:block;">
                        <img src="~/assets/images/pick_photo.fw.png" id="preview-image" class="figure-img img-fluid rounded" style="margin:auto; display:block;" />
                        <input type="file" id="imagen-seleccionada" class="d-none">
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <label class="d-block mb-0">&emsp;</label>
                    @if (!Model.HasValue && !((int?)ViewBag.IdPersona).HasValue)
                    {
                        <button type="button" class="btn btn-primary btn-xs w-100 buscar-persona" data-toggle="modal" data-target="#modal_buscar_persona" id="">
                            <i class="la la-search mr-1"></i>Buscar Persona
                        </button>
                    }
                    else
                    {
                        <label class="d-block mb-0">&emsp;</label>
                        <label class="d-block mb-0">&emsp;</label>
                        <label class="d-block mb-0">&emsp;</label>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">Tipo Persona</label>
                    <select id="" name="GDTPRSNA" class="form-control form-control-sm select-tipopersona" disabled></select>
                </div>
                <div class="col-lg-7">
                    <label class="required-form-label mb-0"> Nombres y Apellidos / Raz&oacute;n Social</label>
                    <input name="NMBREPRSNA" class="form-control form-control-sm" type="text" disabled>
                </div>
                <div class="col-lg-2">
                    <label class="required-form-label mb-0"> C&oacute;digo SAP</label><span style="color:red">*</span>
                    <input name="CSAP" class="form-control form-control-sm solonumeros" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            <label class="required-form-label mb-0">Tipo Trabajador</label>
            <select id="" name="GDTTRBJDR" class="form-control form-control-sm select-tipotrabajador" required></select>
        </div>
        <div class="col-lg-3 input-contratista d-none">
            <label class="required-form-label mb-0">Contratista</label>
            <div class="input-group buscar-contratistas">
                <input name="CNTRTSTA" class="form-control form-control-sm" type="text" readonly>
                <input name="IDCNTRTSTA" class="" type="hidden">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="la la-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 input-fechas">
            <span class="required-form-span">Fecha Ingreso </span><span style="color:red">*</span>
            <div name="ValFINGRSO" class="input-group">
                <input name="FINGRSO" class="form-control form-control-sm formatoFechas " type="text" required>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 input-fechas">
            <span class="required-form-span">Fecha Baja </span>
            <div name="ValFBJA" class="input-group ">
                <input name="FBJA" class="form-control form-control-sm formatoFechas" type="text">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 input-motivo">
            <label class="required-form-label mb-0">Motivo Baja</label>
            <input name="MBJA" class="form-control form-control-sm text-uppercase alfaNumCharEsp" type="text">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3">
            <label class="required-form-label mb-0">Sede Contrataci&oacute;n</label><span style="color:red">*</span>
            <select id="" name="GDSDE" class="form-control form-control-sm select-sede-contratacion" required></select>
        </div>
        <div class="col-lg-3">
            <label class="required-form-label mb-0">Gerencia</label><span style="color:red">*</span>
            <select id="" name="IDGRNCA" class="form-control form-control-sm select-gerencia" required></select>
        </div>
        <div class="col-lg-3">
            <label class="required-form-label mb-0">Superintendencia</label>
            <select id="" name="IDSPRINTNDNCA" class="form-control form-control-sm select-superintendencia" required></select>
        </div>
        <div class="col-lg-3">
            <label class="required-form-label mb-0">&Aacute;rea</label>
            <select id="" name="IDARA" class="form-control form-control-sm select-area" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Grupo cargo</label><span style="color:red">*</span>
            <select id="" name="IDGRPO" class="form-control form-control-sm select-grupo-cargo" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Cargo</label>
            <select id="" name="IDCRGO" class="form-control form-control-sm select-cargo" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Posici&oacute;n</label><span style="color:red">*</span>
            <select id="" name="IDPSCN" class="form-control form-control-sm select-posicion" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Centro de Costo</label><span style="color:red">*</span>
            <select id="" name="IDCNTROCSTO" class="form-control form-control-sm select-centro-costo" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Unidad Organizacional</label><span style="color:red">*</span>
            <select id="" name="IDUNDDORGNZCNL" class="form-control form-control-sm select-unidad-organizacional" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Grupo PS</label><span style="color:red">*</span>
            <select id="" name="GDGRPOPS" class="form-control form-control-sm select-grupo" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Nivel del trabajador</label><span style="color:red">*</span>
            <select id="" name="GDNVL" class="form-control form-control-sm select-nivel" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Delegaci&oacute;n autorizada</label><span style="color:red">*</span>
            <select id="" name="GDDLGCNATRZDA" class="form-control form-control-sm select-delegacion-autorizada" required></select>
        </div>
        <div class="col-lg-2">
            <label class="required-form-label mb-0">Trabajo remoto</label>
            <select id="" name="FTRBJORMTO" class="form-control form-control-sm select-trabajo-remoto" required></select>
        </div>
        <div class="col-lg-2">
            <label class="required-form-label mb-0">Titular</label>
            <select id="" name="FTITLR" class="form-control form-control-sm select-titular" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-9">
            <label class="required-form-label mb-0">Perfil del trabajador</label><span style="color:red">*</span>
            <select id="" name="GDPRFLSTRBJDR[]" class="form-control form-control-sm select-perfil" required multiple></select>
        </div>
        <div class="col-lg-3">
            <label class="required-form-label mb-0">Tipo de guardia</label><span style="color:red">*</span>
            <select id="" name="GDTGRDA" class="form-control form-control-sm select-tipo-guardia" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Lugar de alojamiento</label><span style="color:red">*</span>
            <select id="" name="GDLGRALJMNTO" class="form-control form-control-sm select-lugar-alojamiento" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Ubicaci&oacute;n de alojamiento</label><span style="color:red">*</span>
            <select id="" name="GDUBCCNALJMNTO" class="form-control form-control-sm select-ubicacion-alojamiento" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Tipo de alojamiento</label><span style="color:red">*</span>
            <select id="" name="GDTALJMNTO" class="form-control form-control-sm select-tipo-alojamiento" required></select>
        </div>
    </div>
    <div class="row form-group trabajador-natural">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">M&oacute;dulo</label><span style="color:red">*</span>
            <input id="" name="MDLO" class="form-control form-control-sm text-uppercase alfaNumCharEsp" required />
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Piso</label><span style="color:red">*</span>
            <input id="" name="PSO" class="form-control form-control-sm text-uppercase alfaNumCharEsp" required />
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Cama</label><span style="color:red">*</span>
            <input id="" name="CMA" class="form-control form-control-sm text-uppercase alfaNumCharEsp" required />
        </div>
    </div>
    <div class="">
        @* AUDITORIA *@
        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />

        <div class="col-lg-12">
            <hr class="dropdown-divider">
            <a class="btn btn-secondary btn-xs" asp-controller="Trabajador" asp-action="Index">
                <i class="la la-arrow-left mr-1"></i>Regresar
            </a>
            <button type="submit" class="btn btn-primary btn-xs pull-right">
                <i class="la la-save mr-1"></i>Guardar
            </button>
            <button id="btnVerTrabajador" type="button" class="btn btn-primary btn-xs mr-1 pull-right"><i class="la la-eye mr-1"></i>Ver Persona</button>
        </div>
    </div>
</form>
<partial name="Partials/_ModalBuscarPersona" />
@section Scripts{
    <script asp-append-version="true" src="~/js/views/trabajador/datos.js"></script>
}
