
@{
    ViewData["Title"] = "Trabajador";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Listado Trabajador" }
    };
}

<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTrabajador)" />


<div class="row">
    <div class="col-lg-12">
        <a asp-controller="Trabajador" asp-action="Datos" id="btnTrabajador" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_trabajadores" class="table table-striped table-bordered"></table>
    </div>
</div>

@section Scripts{
    <script asp-append-version="true" src="~/js/views/trabajador/index.js"></script>
}
