﻿@model int
@{
    ViewData["Title"] = "Tallas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Trabajador",Action ="Index",  Controller="Trabajador"  },
        new BreadcrumbViewData{ Name = "Tallas Trabajador" }
    };
}

<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTrabajador)" />


<div class="container">
    <input id="IDTRBJDR" type="hidden" value="@Model">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="form-group  col-lg-9 col-sm-6 ">
                    <span class="required-form-span"> Nombres </span>
                    <input id="DSCRPCN" type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" disabled>
                </div>
            </div>
            <hr />
            <div id="DivBusqueda" class="row form-group align-items-end mb-2">
                <div class="col-lg-5 col-sm-6 ">
                    <span class="required-form-span">Descripci&oacute;n Artículo</span>
                    <div id="ValtxtBusqueda" class="input-group">
                        <input id="txtBusqueda" type="text" placeholder="Buscar Artículos" class="form-control alfaNumCharEsp text-uppercase form-control-sm" maxlength="150" style="font-family:Arial, FontAwesome">
                        <input id="dataecontrada" type="hidden">
                    </div>
                </div>
                <div class="col-1">
                    <a data-toggle="modal" id="btnKitLimpiar" href="#" class="btn btn-info btn-xs">
                        <i class="la la-marker"></i>
                    </a>
                </div>
                <div class="col-1">
                    <a data-toggle="modal" id="btnKitBuscar" title="Búqueda de Artículos." href="#modal_Articulo" class="btn btn-info btn-xs">
                        <i class="la la-search"></i>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <span class="required-form-span w-100">Talla</span>
                    <div id="ValCNTDD" class="input-group ui-widget">
                        <select id="combobox" class="input-group-text form-select-talla select-talla" ></select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                    <span class="d-block">&nbsp;</span>
                    <a data-toggle="modal" id="btnKitAgregar" href="#" class="btn btn-success btn-xs btn-block">
                        <i class="la la-angle-double-down"></i> Agregar
                    </a>
                </div>
            </div>
            <div id="Divtabla" class="row">
                <table id="tabla_articuloadd" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th width="2%" class="text-center"></th>
                            <th class="text-center"> Código SAP </th>
                            <th class="text-center"> Descripción </th>
                            <th class="text-center"> Unid. Med. </th>
                            <th  width="20%" class="text-center"> Talla </th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="6" class="text-center">Cargando datos...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <div class="row">
                <div class="form-group  col-lg-2 col-sm-6">
                    <a class="btn btn-secondary btn-xs pull-left btn-block" asp-controller="Trabajador" asp-action="Index">
                        <i class="la la-arrow-left mr-1"></i>Regresar
                    </a>
                </div>
                <div class="form-group  col-lg-8 col-sm-6">

                </div>
                <div class="form-group  col-lg-2 col-sm-6">
                    <button id="btnGrabarTalla" type="button" class="btn btn-primary btn-xs mr-1 btn-block"><i class="la la-save mr-1"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="/Views/Shared/_ModalArticulo.cshtml" />
</div>


@section Scripts{
    <script asp-append-version="true" src="~/js/views/trabajador/tallas.js"></script>
}




