﻿@model int
@{
    ViewData["Title"] = "Listado Superintendencias";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Superintendencias" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaSuperintendencia)" />

<div class="row">
    <div class="col-lg-2">
        <label class="d-block">&emsp;</label>
        <a data-toggle="modal" id="btnSuperintendencia" href="#modal_superintendencia" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>
    <div class="col-lg-3">
        <label class="required-form-label">Gerencia</label>
        <select class="form-control form-control-sm filtro-select-gerencias select-gerencias"></select>
    </div>
    <div class="col-lg-12">
        <table id="tabla_superintendencia" class="table table-striped table-bordered"></table>
    </div>
</div>
<partial name="Partials/_ModalSuperintendencia" />

@section Scripts{
    <script src="~/js/views/superintendencia/index.js" asp-append-version="true"></script>
}
