﻿@model int?
@{
    ViewData["Title"] = "EPP Por Grupo Cargo";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Grupo Cargo",Action ="Index",  Controller="GrupoCargo"  },
        new BreadcrumbViewData{ Name = "EPP Por Grupo Cargo" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaGrupoCargo)" />

<div class="container">

    <input type="hidden" id="IdGrupoCargo" value="@(Model.HasValue ? Model.Value.ToString():"")" />
    <form action="/" method="post" id="EPP_GrupoCargo_form">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="form-group  col-lg-8 col-sm-6 ">
                        <label class="required-form-label">Grupo:</label>
                        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="GRPOCRGO" maxlength="150" disabled>
                    </div>
                </div>
                <hr />
                <div id="DivBusqueda" class="row form-group align-items-end mb-2">
                    <div class="col-lg-5 col-sm-6 ">
                        <label class="required-form-label">Descripci&oacute;n Artículo</label> <span class="font-weight-bold" style="color:red">*</span>
                        <div name="ValtxtBusqueda" class="input-group">
                            <input id="txtBusqueda" name="txtBusqueda" type="text" placeholder="Buscar Artículos" class="form-control alfaNumCharEsp text-uppercase form-control-sm" maxlength="150" style="font-family:Arial, FontAwesome">
                            <input id="dataecontrada" type="hidden">
                        </div>
                    </div>
                    <div class="col-1">
                        <a data-toggle="modal" id="btnKitLimpiar" title="Editar" href="#" class="btn btn-info btn-xs">
                            <i class="la la-marker"></i>
                        </a>
                    </div>
                    <div class="col-1">
                        <a data-toggle="modal" id="btnKitBuscar" title="Búqueda de Artículos." href="#modal_kitArticulo" class="btn btn-info btn-xs">
                            <i class="la la-search"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="required-form-label">Cantidad</label> <span class="font-weight-bold" style="color:red">*</span>
                        <div name="ValCNTDD" class="input-group">
                            <input id="txtCantidad" type="text" class="form-control text-uppercase form-control-sm" name="CNTDD" maxlength="10">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                        <span class="d-block">&nbsp;</span>
                        <a data-toggle="modal" id="btnKitAgregar" href="#" class="btn btn-success btn-xs btn-block">
                            <i class="la la-angle-double-down"></i> Agregar
                        </a>
                    </div>
                </div>
                <div id="Divtabla" class="row">
                    <table id="tabla_articuloadd" class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">Código SAP</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Unid. Med.</th>
                                <th class="text-center">Duración Meses</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td colspan="6" class="text-center">Cargando datos...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @* AUDITORIA *@
        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
        <hr />
        <div class="row mt-2">
            <div class="col-lg-2 col-sm-6">
                <a class="btn btn-secondary btn-xs btn-block" asp-controller="GrupoCargo" asp-action="Index">
                    <i class="la la-arrow-left mr-1"></i>Regresar
                </a>
            </div>
            <div class="col-lg-8 col-sm-6">

            </div>
            <div class="col-lg-2 col-sm-6">
                <button id="btnEPPGuardar" type="button" class="btn btn-primary btn-xs btn-block"><i class="la la-save mr-1"></i>Guardar</button>
            </div>
        </div>
        <partial name="/Views/Shared/Partials/_ModalKitArticulo.cshtml" />
    </form>
</div>

@section Scripts{
    <script src="~/js/views/grupocargo/EPPxGrupoCargo.js" asp-append-version="true"></script>
}
