﻿@{
    ViewData["Title"] = "Listado Grupo de Cargo";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Grupo Cargo" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaGrupoCargo)" />

<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnGrupoCargo" href="#modal_grupocargo" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_grupocargo" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalGrupoCargo" />

@section Scripts{
    <script src="~/js/views/grupocargo/index.js" asp-append-version="true"></script>
}
