﻿<input type="hidden" name="ID" />
<hr class="dropdown-divider" />
<div class="moduleA">
    <a role="button" class="collapsed text-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"></a>
    <div class="collapse multi-collapse">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">Estado</span>
                    <select class="form-control form-control-sm select-estados" name="GDESTDO" required></select>
                </div>
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">U. Creaci&oacute;n</span>
                    <input type="text" class="form-control form-control-sm" name="UCRCN" disabled>
                </div>
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">U. Edici&oacute;n</span>
                    <input type="text" class="form-control form-control-sm" name="UEDCN" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">F. Estado</span>
                    <input type="text" class="form-control form-control-sm" name="cFESTDO" disabled>
                </div>
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">F. Creaci&oacute;n</span>
                    <input type="text" class="form-control form-control-sm" name="cFCRCN" disabled>
                </div>
                <div class="col-lg-4 form-group">
                    <span class="required-form-span">F. Edici&oacute;n</span>
                    <input type="text" class="form-control form-control-sm" name="cFEDCN" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
