﻿@inject BAMBAS.Negocios.General.Seguridad.IPerfilObjetoProxy _perfilObjetoProxy
@model string
@{
    var controlesArray = new List<string>();
    if (Model == ControlesVistas.VistaPersona)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Persona.AgregarPersona,
        ControlesVistas.Persona.EditarPersona,
        ControlesVistas.Persona.EliminarPersona,

        ControlesVistas.Persona.AgregarDocumento,
        ControlesVistas.Persona.EditarDocumento,
        ControlesVistas.Persona.EliminarDocumento,

        ControlesVistas.Persona.AgregarDireccion,
        ControlesVistas.Persona.EditarDireccion,
        ControlesVistas.Persona.EliminarDireccion,

        ControlesVistas.Persona.AgregarTelefono,
        ControlesVistas.Persona.EditarTelefono,
        ControlesVistas.Persona.EliminarTelefono,

        ControlesVistas.Persona.AgregarCorreo,
        ControlesVistas.Persona.EditarCorreo,
        ControlesVistas.Persona.EliminarCorreo,

        ControlesVistas.Persona.AgregarArchivo,
        ControlesVistas.Persona.EliminarArchivo,
        ControlesVistas.Persona.DescargarArchivo,
    });

    if (Model == ControlesVistas.VistaTrabajador)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Trabajador.AgregarTrabajador,
        ControlesVistas.Trabajador.EditarTrabajador,
        ControlesVistas.Trabajador.EliminarTrabajador,
        ControlesVistas.Trabajador.TallaTrabajador,
    });

    var controles = string.Join(",", controlesArray);
    var perfiles = User.ObtenerPerfiles();
    var listaControles = await _perfilObjetoProxy.ListarControles(controles, perfiles);
}

@if (Model == ControlesVistas.VistaPersona)
{
    var accesoAgregarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarPersona)?.ACCESO ?? false;
    var accesoEditarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EditarPersona)?.ACCESO ?? false;
    var accesoEliminarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarPersona)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarPersona" value="@accesoAgregarPersona.ToString()" />
    <input type="hidden" id="accesoEditarPersona" value="@accesoEditarPersona.ToString()" />
    <input type="hidden" id="accesoEliminarPersona" value="@accesoEliminarPersona.ToString()" />

    var accesoAgregarDocumento = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarDocumento)?.ACCESO ?? false;
    var accesoEditarDocumento = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EditarDocumento)?.ACCESO ?? false;
    var accesoEliminarDocumento = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarDocumento)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarDocumento" value="@accesoAgregarDocumento.ToString()" />
    <input type="hidden" id="accesoEditarDocumento" value="@accesoEditarDocumento.ToString()" />
    <input type="hidden" id="accesoEliminarDocumento" value="@accesoEliminarDocumento.ToString()" />

    var accesoAgregarDireccion = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarDireccion)?.ACCESO ?? false;
    var accesoEditarDireccion = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EditarDireccion)?.ACCESO ?? false;
    var accesoEliminarDireccion = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarDireccion)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarDireccion" value="@accesoAgregarDireccion.ToString()" />
    <input type="hidden" id="accesoEditarDireccion" value="@accesoEditarDireccion.ToString()" />
    <input type="hidden" id="accesoEliminarDireccion" value="@accesoEliminarDireccion.ToString()" />

    var accesoAgregarTelefono = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarTelefono)?.ACCESO ?? false;
    var accesoEditarTelefono = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EditarTelefono)?.ACCESO ?? false;
    var accesoEliminarTelefono = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarTelefono)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarTelefono" value="@accesoAgregarTelefono.ToString()" />
    <input type="hidden" id="accesoEditarTelefono" value="@accesoEditarTelefono.ToString()" />
    <input type="hidden" id="accesoEliminarTelefono" value="@accesoEliminarTelefono.ToString()" />

    var accesoAgregarCorreo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarCorreo)?.ACCESO ?? false;
    var accesoEditarCorreo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EditarCorreo)?.ACCESO ?? false;
    var accesoEliminarCorreo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarCorreo)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarCorreo" value="@accesoAgregarCorreo.ToString()" />
    <input type="hidden" id="accesoEditarCorreo" value="@accesoEditarCorreo.ToString()" />
    <input type="hidden" id="accesoEliminarCorreo" value="@accesoEliminarCorreo.ToString()" />

    var accesoAgregarArchivo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.AgregarArchivo)?.ACCESO ?? false;
    var accesoEliminarArchivo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.EliminarArchivo)?.ACCESO ?? false;
    var accesoDescargarArchivo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Persona.DescargarArchivo)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarArchivo" value="@accesoAgregarArchivo.ToString()" />
    <input type="hidden" id="accesoEliminarArchivo" value="@accesoEliminarArchivo.ToString()" />
    <input type="hidden" id="accesoDescargarArchivo" value="@accesoDescargarArchivo.ToString()" />
}

@if (Model == ControlesVistas.VistaTrabajador)
{
    var accesoAgregarTrabajador = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Trabajador.AgregarTrabajador)?.ACCESO ?? false;
    var accesoEditarTrabajador = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Trabajador.EditarTrabajador)?.ACCESO ?? false;
    var accesoEliminarTrabajador = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Trabajador.EliminarTrabajador)?.ACCESO ?? false;
    var accesoTalla = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Trabajador.TallaTrabajador)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarTrabajador" value="@accesoAgregarTrabajador.ToString()" />
    <input type="hidden" id="accesoEditarTrabajador" value="@accesoEditarTrabajador.ToString()" />
    <input type="hidden" id="accesoEliminarTrabajador" value="@accesoEliminarTrabajador.ToString()" />
    <input type="hidden" id="accesoTalla" value="@accesoTalla.ToString()" />
}
