﻿
<div class="row">
    <div class="form-group col-lg-4">
        <label class="required-form-label">Familia Padre</label> <span class="font-weigth-bold" style="color:red">*</span>
        <select class="form-control form-control-sm form-select-familias select-familias" name="IDFMLAPDRE" required></select>
    </div>
    <div class="form-group col-lg-12">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weigth-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required>
    </div>
 </div>

    @* AUDITORIA *@
    <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
