﻿<div class="form-group d-flex mb-1">
    <div class="col-lg-6">
        <label class="required-form-label">C&oacute;digo</label>
        <input type="text" id="txtCodigo" name="ID-d" class="form-control form-control-sm" required maxlength="15" disabled />
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" id="txtDescripcion" name="DPRMTRO" class="form-control form-control-sm text-uppercase alfanumerico" required maxlength="150">
    </div>
</div>
<div class="form-group d-flex mb-1">
    <div class="col-lg-6">
        <label class="required-form-label">Abreviatura</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" id="txtAbreviatura" class="form-control form-control-sm text-uppercase alfanumerico" maxlength="50">
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">Valor 1</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" id="txtValor1" name="VLR1" class="form-control form-control-sm text-uppercase alfanumerico" required maxlength="250">
    </div>
</div>
<div class="form-group d-flex mb-1">
    <div class="col-lg-6">
        <label class="required-form-label">Valor 2</label>
        <input type="text" id="txtValor2" class="form-control form-control-sm text-uppercase alfanumerico" maxlength="250">
    </div>
</div>
@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />