﻿@model int?
@{
    ViewData["Title"] = "Crear Movimiento";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Movimiento de Almacén",Action ="Index",  Controller="Proyeccion"  },
        new BreadcrumbViewData{ Name = "Crear Movimiento" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaProyeccion)" />

<div class="container">
    <input type="hidden" id="IdProyeccion" value="@(Model.HasValue ? Model.Value.ToString():"")" />
    <form action="/" method="post" id="Proyeccion_form">
        <div class="row">
            <div class="form-group  col-lg-7 col-sm-6 ">
                <label class="required-form-label">Almac&eacute;n</label>
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="ALMCN" required maxlength="150">
            </div>
            <div class="form-group  col-lg-3 col-sm-6 ">
                <label class="required-form-label">Tipo Movimiento</label>
                <select class="form-control form-control-sm form-select-tmvmnto select-tmvmnto" name="TMVMNTO" required></select>
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Fecha</label>
                <input id="txtFecha" type="text" class="form-control text-uppercase form-control-sm text-center" name="FCHA" required>
            </div>

        </div>
        <div class="row align-items-end">
            <div class="form-group col-lg-3">
                <label class="required-form-label">C&oacute;digo SAP</label>
                <input type="text" class="form-control text-uppercase form-control-sm text-right" id="txtcsap" name="TXTCSAP" required>
            </div>
            <div class="form-group col-lg-7 col-sm-6">
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="EMPLDO" maxlength="150">
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Ent. Tercero</label>
                <select class="form-control form-control-sm form-select-moneda select-moneda" id="cboMoneda" name="GDTMNDA"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-lg-7 col-sm-6 ">
                <label class="required-form-label">Observaci&oacute;n</label>
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="OBS" required maxlength="150">
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Sustento</label>
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="SSTNTO" required>
            </div>
        </div>
        <hr />
        <div id="DivBusqueda" class="row form-group align-items-end mb-2">
            <div class="col-lg-5 col-sm-6 ">
                <label class="required-form-label">Descripci&oacute;n Artículo</label>
                <div id="ValtxtBusqueda" class="input-group">
                    <input id="txtBusqueda" name="txtBusqueda" type="text" placeholder="Buscar Artículos" class="form-control alfaNumCharEsp text-uppercase form-control-sm" maxlength="150" style="font-family:Arial, FontAwesome">
                    <input id="dataecontrada" type="hidden">
                </div>
            </div>
            <div class="col-1">
                <a data-toggle="modal" id="btnLimpiar" href="#" title="Limpiar Búsqueda" class="btn btn-info btn-xs">
                    <i class="la la-marker"></i>
                </a>
            </div>
            <div class="col-1">
                <a data-toggle="modal" id="btnBuscar" title="Búqueda de Artículos" href="#modal_articulos" class="btn btn-info btn-xs">
                    <i class="la la-search"></i>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">

            </div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                <span class="d-block">&nbsp;</span>
                <a data-toggle="modal" id="btnAgregar" href="#" class="btn btn-success btn-xs btn-block">
                    <i class="la la-angle-double-down"></i> Agregar
                </a>
            </div>
        </div>
        <div class="row">
            <fieldset id="flstabla" class="table-responsive">
                <table id="tabla_Proyeccionadd" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th width="2%" class="text-center"></th>
                            <th class="text-center">SubFamilia</th>
                            <th class="text-center">Personal</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Ent. por Año</th>
                            <th class="text-center">Costo</th>
                            <th class="text-center">Costo Total</th>
                            <th class="text-center" width="5%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
        @* AUDITORIA *@
        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
        @*<partial name="Partials/_ModalFamilias" />*@
        <hr />
        <div class="row">
            <div class="form-group  col-lg-2 col-sm-6">
                <button id="btnGuardar" type="button" class="btn btn-primary btn-xs btn-block"><i class="la la-hand-pointer mr-1"></i>Huella</button>
            </div>
            <div class="form-group col-lg-2 col-sm-6">
                <button id="btnGuardar" type="button" class="btn btn-primary btn-xs btn-block"><i class="la la-pen mr-1"></i>Firma</button>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="form-group col-lg-2 col-sm-6">
                <a class="btn btn-secondary btn-xs btn-block" asp-controller="Proyeccion" asp-action="Index">
                    <i class="la la-arrow-left mr-1"></i>Regresar
                </a>
            </div>
            <div class="form-group col-lg-8 col-sm-6">

            </div>
            <div class="form-group  col-lg-2 col-sm-6">
                <button id="btnGuardar" type="button" class="btn btn-primary btn-xs btn-block"><i class="la la-save mr-1"></i>Guardar</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/views/movimientoalmacen/Datos.js" asp-append-version="true"></script>
}
