﻿@{
    ViewData["Title"] = "Movimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Movimiento de Almacén" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaMovimientoAlmacen)" />
<div class="container">
    <div class="row col-12 form-group">
        <a asp-controller="MovimientoAlmacen" asp-action="Datos" id="btnMovimientoNew" class="btn btn-primary btn-xs mr-1">
            <i class="la la-plus"></i> Nuevo
        </a>
    </div>
    <div class="row align-items-end mb-2">
        <div class="form-group  col-lg-8 col-sm-6 ">
            <label class="required-form-label">Almac&eacute;n</label>
            <select class="form-control form-control-sm form-select-almcn select-almcn" name="ALMCN" required></select>
        </div>
        <div class="form-group  col-lg-2 col-sm-6 ">
            <label class="required-form-label">Tipo Movimiemto</label>
            <select class="form-control form-control-sm form-select-tmvmnto select-tmvmnto" name="TMVMNTO" required></select>
        </div>
        <div class="form-group  col-lg-2 col-sm-6 ">
            <button id="btnBuscar" type="button" class="btn btn-primary btn-xs mr-1 btn-block"><i class="la la-search mr-1"></i>Buscar</button>
        </div>
    </div>
    <div class="row">
        <table id="tabla_movimientoalmacen" class="table table-striped table-bordered"></table>
    </div>
</div>

@section Scripts{
    <script asp-append-version="true" src="~/js/views/movimientoalmacen/index.js"></script>
}
