﻿@{
    ViewData["Title"] = "Inicio";
}

@section Styles{ 
    <link asp-append-version="true" href="~/css/views/home.css" rel="stylesheet" />
}
<div class="nGrid home col-lg-8 col-md-8 col-sm-10 col-xs-12">
    <div class="ctWelcome">
        <div class="box-ctWelcome">
            <div class="col-lg-6 lflt ctborder">
                <div class="txtWelcome">Bienvenido(a)</div>
                <div class="pt2 txtNmUsuario"><label id="lblNmUsuario" name="lblNmUsuario" class="required-from-label" style="color:#fff;">@User.GetFullName()</label></div>
                <div class="pt2 txtNmUsu"><label id="lblNmUsu" name="lblNmusu" class="required-from-label" style="color: #fff;">@User.GetUserCode()</label></div>
                <div class="pt2 txtOtros">
                    <div class="colmn55 lflt ltxt">Fecha :</div>
                    <div class="colmn100 rtxt">
                        <label id="lblfecha" name="lblfecha" class="required-form-label" style=" color: #fff; ">  </label>
                    </div>
                    <div class="brk"></div>
                </div>
                <div class="pt2 txtOtros">
                    <div class="colmn55 lflt ltxt">Hora :</div>
                    <div class="colmn100 rtxt">
                        <label id="lblhora" name="lblhora" class="required-form-label" style=" color: #fff; ">  </label>
                    </div>
                    <div class="brk"></div>
                </div>
            </div>
            <div class="col-lg-6 lflt">
                <img src="~/assets/css/themes/@BAMBAS.CONFIG.ConfiguracionProyecto.TEMA/img/logo.png" />
            </div>
            <div class="brk">
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script asp-append-version="true" src="~/js/views/home/index.js"></script>
}