﻿<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_editar_empresa">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Empresa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Guardar" asp-controller="Empresa" id="empresa_editar_form" method="post">
                <div class="modal-body">
                    <!--Body-->
                    <partial name="_EmpresaForm.cshtml" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs  btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-xs btn-primary btn-save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>