﻿@model BAMBAS.Negocios.Modelos.Seguridad.Sucursal.SucursalDto
<div class="form-group d-flex">
    <div class="col-lg-4">
        <label class="required-form-label">Cod. Sucursal</label>
        <input type="text" class="form-control form-control-sm" name="ID-d" disabled>
        <input type="hidden" class="" name="IDEMPRSA" >
    </div>
    <div class="col-lg-8">
        <label class="required-form-label">Nombre</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control form-control-sm text-uppercase alfaNumCharEsp" asp-for="NSCRSL" placeholder="Nombre" required maxlength="150">
    </div>
    
</div>
<div class="form-group d-flex">
    <div class="col-lg-4">
        <label class="required-form-label">Departamento</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm select-departamento" name="DPRTMNTO" placeholder="Departamento" required></select>
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Provincia</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm select-provincia" name="PRVNCA" placeholder="Provincia" required></select>
    </div>
    <div class="col-lg-4">
        <label class="required-form-label">Distrito</label> <span class="font-weight-bold" style="color:red">*</span>
        <select class="form-control form-control-sm select-distrito" asp-for="UBGO" placeholder="Distrito" required></select>
    </div>
</div>
<div class="form-group d-flex">
    <div class="col-lg-12">
        <label class="required-form-label">Dirección</label> <span class="font-weight-bold" style="color:red">*</span>
        @*<input type="text" class="form-control form-control-sm text-uppercase" asp-for="DSCRSL" placeholder="Dirección" required maxlength="150">*@
        <textarea id="txtDireccionEmp" class="form-control form-control-sm text-uppercase alfaNumCharEsp" asp-for="DSCRSL" cols="20" rows="3"></textarea>
        <div class="text-right"><span id="caracteres" class="valid-text pt-3 caracteres"></span></div>
    </div>
    
</div>
@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />