﻿@{
    ViewData["Title"] = "Listado Artículos";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Artículos" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaArticulo)" />


<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnArticulo" href="#modal_articulo" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>

        <a asp-controller="Articulo" asp-action="ActualizacionPrecios" id="btnActualizacionPrecios" class="btn btn-primary btn-xs pull-right">
            <i class="la la-file-excel mr-1"></i>Actualizar Precios
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_articulo" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalArticulo" />
@*<partial name="Partials/_CargarExcel" />*@

@section Scripts{
    <script src="~/js/views/articulo/index.js" asp-append-version="true"></script>
}
