﻿@model int?
@{
    ViewData["Title"] = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Listado Personas", Action="Index", Controller="Persona" },
        new BreadcrumbViewData{ Name = "Datos Personas" }
    };

}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
    <style>
        .croppie-container {
            width: 100%;
            height: 80%;
        }
    </style>
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPersona)" />
<input type="hidden" id="hfCodPersona" name="hfCodPersona" value="@(Model.HasValue ? Model.Value.ToString():"")" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 px-0">
            <form action="/" method="post" id="FormularioPersona">
                <input type="hidden" name="IDPRSNA" />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row mb-2">
                                <div class="col-lg-12" style="text-align: center;">
                                    @if (BAMBAS.CONFIG.ConfiguracionProyecto.CONSULTA_SUSALUD)
                                    {
                                        <button id="btnConsultaSusalud" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdlSusalud">Buscar Persona</button>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" style="display:block;">
                                    <a href="#" data-toggle="modal" data-target="#modalCropper">
                                        <img src="~/assets/images/pick_photo.fw.png" id="preview-image" class="figure-img img-fluid rounded" style="margin:auto; display:block;" />
                                        <input type="file" id="imagen-seleccionada" class="d-none">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-3 form-group">
                                    <span class="required-form-span"> Tipo Persona </span> <span style="color:red">*</span>
                                    <select id="cboTPersonaNJ" name="cboTPersonaNJ" class="form-control form-control-sm "></select>
                                </div>
                                <div class="col-lg-3 form-group pNatural pNaturalAgregando">
                                    <span class="required-form-span"> Tipo Documento</span> <span style="color:red">*</span>
                                    <select id="cboPNTDocumento" name="cboPNTDocumento" class="form-control form-control-sm homo" required maxlength="150"></select>
                                </div>
                                <div class="col-lg-3 form-group pNatural pNaturalAgregando">
                                    <span class="required-form-span"> Nro. Documento</span> <span style="color:red">*</span>
                                    <input id="txtPNDocumento" name="txtPNDocumento" class="form-control form-control-sm text-uppercase solonumeros homo" type="text" required maxlength="150" >
                                </div>
                                <div class="col-lg-3 form-group  pNatural" style="padding:1.8em">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkContract" name="checkContract">
                                        <label class="form-check-label" for="defaultCheck1">Contratista</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pNatural">
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span"> Apellido Paterno </span><span style="color:red">*</span>
                                    <input id="txtAPaterno" name="txtAPaterno" class="form-control form-control-sm text-uppercase sololetrasyespacios homo" type="text" maxlength="50">
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span"> Apellido Materno </span>
                                    <input id="txtAMaterno" name="txtAMaterno" class="form-control form-control-sm text-uppercase sololetrasyespacios homo" type="text" maxlength="50">
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span"> Primer Nombre </span><span style="color:red">*</span>
                                    <input id="txtPNombre" name="txtPNombre" class="form-control form-control-sm text-uppercase sololetrasyespacios homo" type="text" maxlength="30">
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span"> Segundo Nombre </span>
                                    <input id="txtSNombre" name="txtSNombre" class="form-control form-control-sm text-uppercase sololetrasyespacios homo" type="text" maxlength="30">
                                </div>
                            </div>
                            <div class="row pNatural">
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span">Estado Civil</span><span style="color:red">*</span>
                                    <select id="cboECivil" name="cboECivil" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span">Sexo</span><span style="color:red">*</span>
                                    <select id="cboSexo" name="cboSexo" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span">Fecha Nacimiento </span><span style="color:red">*</span>
                                    <div class="input-group">
                                        <input id="txtFNacimiento" name="txtFNacimiento" class="form-control form-control-sm fRangoPers" type="text" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span id="msg0" style="color:red;" class="msg0"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group ">
                                    <span class="required-form-span">Nacionalidad</span>
                                    <select id="cboNacionalidad" name="cboNacionalidad" class="form-control form-control-sm"></select>
                                </div>
                            </div>
                            <div class="row pNatural">
                                <div id="PaisNac" class="col-3 form-group ">
                                    <span class="required-form-span">País de Nacimiento</span>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text p-2">
                                                <input type="checkbox" aria-label="Checkbox for following text input" >
                                            </div>
                                        </div>
                                        <select id="cboPaisNac" name="cboPaisNac" class="form-control form-control-sm"></select>
                                    </div>
                                </div>
                                <div class="col-3 form-group ">
                                    <span class="required-form-span">Departamento</span><span style="color:red">*</span>
                                    <select id="cboPDepartamento" name="cboPDepartamento" class="form-control form-control-sm">
                                    </select>
                                </div>
                                <div class="col-3 form-group ">
                                    <span class="required-form-span">Provincia</span><span style="color:red">*</span>
                                    <select id="cboPProvincia" name="cboPProvincia" class="form-control form-control-sm">
                                    </select>
                                </div>
                                <div class="col-3 form-group ">
                                    <span class="required-form-span distrito-label">Distrito</span>  <span style="color:red">*</span>
                                    <select id="cboPDistrito" name="cboDistrito" class="form-control form-control-sm">
                                    </select>
                                </div>
                            </div>
                            <div class="row pJuridica">
                                <div class="col-lg-6 form-group">
                                    <span class="required-form-span">Raz&oacute;n Social</span> <span style="color:red">*</span>
                                    <input id="txtRSocial" name="txtRSocial" class="form-control form-control-sm text-uppercase alfaNumCharEsp homo" type="text" maxlength="150">
                                </div>
                                <div class="col-lg-3">
                                    <span class="required-form-span"> Tipo Documento</span>
                                    <select id="cboPJTDocumento" name="cboPJTDocumento" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="required-form-span"> Nro. Documento</span> <span style="color:red">*</span>
                                    <input id="txtPJNDocumento" name="txtPJNDocumento" class="form-control form-control-sm text-uppercase solonumeros homo" type="text" required maxlength="150">
                                </div>
                            </div>
                            <div class="row pJuridica">
                                <div class="col-lg-4 form-group ">
                                    <span>Tipo Sociedad</span> <span style="color:red">*</span>
                                    <select id="cboPJTSociedad" name="cboPJTSociedad" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-lg-4">
                                    <span class="required-form-span">Tipo Empresa</span>
                                    <select id="cboPJTEmpresa" name="cboPJTEmpresa" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-lg-4">
                                    <span class="required-form-span">F. Inicio Actividades</span>
                                    <div class="input-group">
                                        <input id="txtPJFNacimiento" name="txtPJFNacimiento" class="form-control form-control-sm " type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <span id="msg0" style="color:red;" class="msg0"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right ">
                            <hr class="dropdown-divider"/>
                            <a class="btn btn-secondary btn-xs pull-left" asp-controller="Persona" asp-action="Index">
                                <i class="la la-arrow-left mr-1"></i>Regresar
                            </a>
                            <button id="btnGrabarPersona" type="button" class="btn btn-primary btn-xs mr-1"><i class="la la-save mr-1"></i>Guardar</button>
                            <a id="btnCreateWorker" asp-action="Datos" asp-controller="Trabajador" asp-route-idprsna="@(Model.HasValue ? Model.Value.ToString():"")" class="btn btn-primary btn-xs mr-1"><i class="la la-save mr-1"></i>Crear Trabajador</a>
                            <button id="btnVerTrabajador" type="button" class="btn btn-primary btn-xs mr-1"><i class="la la-eye mr-1"></i>Ver Trabajador</button>       
                            <input type="hidden" id="hddIdtrbjdr" value="0" />
                        </div>
                    </div>
                </div>
                <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
            </form>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
        <li class="nav-item">
            <a class="nav-link disabled" id="Documento-tab" data-toggle="tab" href="#Documento" role="tab" aria-controls="profile" aria-selected="true">Documento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="Direccion-tab" data-toggle="tab" href="#Direccion" role="tab" aria-controls="profile" aria-selected="true">Dirección</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="Telefono-tab" data-toggle="tab" href="#Telefono" role="tab" aria-controls="profile" aria-selected="true">Teléfonos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="CuentaCorreo-tab" data-toggle="tab" href="#CuentaCorreo" role="tab" aria-controls="profile" aria-selected="true">Cuenta de Correo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="Archivos-tab" data-toggle="tab" href="#Archivo" role="tab" aria-controls="profile" aria-selected="true">Archivos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="Colaboradores-tab" data-toggle="tab" href="#Colaboradores" role="tab" aria-controls="profile" aria-selected="true">Colaboradores</a>
        </li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade" id="Documento" role="tabpanel" aria-spanledby="Documento-tab">
            <div class="row">
                <partial name="Partials/_DocumentoPersona" />
            </div>
        </div>
        <div class="tab-pane fade" id="Direccion" role="tabpanel" aria-spanledby="Direccion-tab">
            <div class="row">
                <partial name="Partials/_DireccionPersona" />
            </div>
        </div>
        <div class="tab-pane fade" id="Telefono" role="tabpanel" aria-spanledby="Telefono-tab">
            <div class="row">
                <partial name="Partials/_TelefonoPersona" />
            </div>
        </div>
        <div class="tab-pane fade" id="CuentaCorreo" role="tabpanel" aria-spanledby="CuentaCorreo-tab">
            <div class="row">
                <partial name="Partials/_CorreoPersona" />
            </div>
        </div>
        <div class="tab-pane fade" id="Archivo" role="tabpanel" aria-spanledby="CuentaCorreo-tab">
            <div class="row">
                <partial name="Partials/_Archivo" />
            </div>
        </div>
        <div class="tab-pane fade" id="Colaboradores" role="tabpanel" aria-spanledby="Colaboradores-tab">
            <div class="row">
                <partial name="Partials/_Colaboradores" />
            </div>
        </div>
    </div>
</div>
<partial name="Partials/_ModalCropper" />
<partial name="/Views/Persona/Partials/_BusquedaSusalud.cshtml" />
<partial name="/Views/Persona/Partials/_BusquedaRUC.cshtml" />
<partial name="/Views/Persona/Partials/_Homonimo.cshtml" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script asp-append-version="true" src="~/js/views/Persona/Datos.js"></script>
    <script asp-append-version="true" src="~/js/ubigeos.js"></script>
}
