﻿@{
    ViewData["Title"] = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Listado Personas" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPersona)" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="form-group col-lg-3 col-md-3 col-sm-3">
                    <span>Tipo Persona</span>
                    <select id="cboTPersona_NJ" name="cboTPersona_NJ" class="form-control form-control-sm "></select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3">
                    <span>Tipo Documento</span>
                    <select id="cboTipoDocumento" name="cboTipoDocumento" class="form-control form-control-sm "></select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3">
                    <span>Nro. Documento</span>
                    <input id="txtDocumento" class="form-control form-control-sm solonumeros text-uppercase" type="text">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                    <span class="d-block">&nbsp;</span>
                    <a asp-controller="Persona" asp-action="AddPersona" class="btn btn-primary btn-xs"><i class="la la-plus"></i>Nueva</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-3 col-md-3 col-sm-3">
                    <span>Estado</span>
                    <select class="form-control form-control-sm select-estados select-estado-listado" id="cboEstado" name="cboEstado" required=""></select>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                    <span>Nombre y Apellido / Razón</span>
                    <input id="txtNombreRazon" class="form-control form-control-sm text-uppercase alfaNumCharEsp" type="text">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="display : flex; align-items: center; justify-content: center;">
                    <span class="d-block">&nbsp;</span>
                    <button type="button" class="btn btn-primary btn-xs" id="btnBuscarPersona"><i class="fa fa-search mr-1"></i>Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="tabla_persona" class="table table-striped table-bordered w-100"></table>
        </div>
    </div>
</div>
@section Scripts{
    <script asp-append-version="true" src="~/js/views/Persona/Index.js"></script>
}