﻿@page
@model AutenticacionModel
@{
    ViewData["Title"] = "Login";
    //Layout = null;
    var tema = BAMBAS.CONFIG.ConfiguracionProyecto.TEMA;
}
<div class="login-area login-bg">
    <div class="container">
        <div class="login-box pt--30 pb--30">
            <form method="post" asp-page-handler="onPost" asp-route-ReturnBaseUrl="@Model.ReturnBaseUrl" id="login_form">
                @Html.AntiForgeryToken()
                <div class="login-form-head">
                    <img src="~/assets/css/themes/@tema/img/logo-login.png" />
                    <h4 style="">Iniciar sesi&oacute;n</h4>
                </div>
                <div class="login-form-body">
                    @if (Model.HasInvalidAccess)
                    {
                        <strong class="label-error-validate" id="response_login" style="color:red">@Model.Message</strong>
                    }
                    <div style="margin-top:20px">
                        <div class="form-gp">
                            <label for="UserName">Usuario</label>
                            <input asp-for="model.Email" placeholder="" autocomplete="off" id="email" class="text-uppercase" required />
                            <i class="ti-user"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp showPass">
                            <label for="Password">Contraseña</label>
                            <input asp-for="model.Password" type="password" placeholder="" id="password" required />
                            <i class="ti-eye passLog" id="passLog"></i>
                            <div class="text-danger"></div>
                        </div>
                        @*<div class="row mb-4 rmber-area">
                                <div class="col-12 text-center">
                                    <a href="#">Olvidé mi contraseña</a>
                                </div>
                            </div>*@
                        <div class="submit-btn-area">
                            <button id="form_submit" class="btn-primary" type="submit">Ingresar <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <img src="~/images/cepheid_logo.svg" style=" margin: auto; margin-top: -90px;max-width:180px;" />
        </div>

    </div>
</div>

