﻿@page
@model CambioContrasenaModel
@{
    ViewData["Title"] = "Cambio contraseña";
    //Layout = null;
    var tema = BAMBAS.CONFIG.ConfiguracionProyecto.TEMA;
}
<div class="login-area login-bg">
    <div class="container">
        <div class="login-box pt--30 pb--30">
            <form method="post" asp-page-handler="onPost" asp-route-UserName="@Model.UserName" asp-route-ReturnBaseUrl="@Model.ReturnBaseUrl" id="login_form_cambio">
                <div class="login-form-head">
                    <img src="~/assets/css/themes/@tema/img/logo-login.png" />
                    <h4>Cambiar contraseña</h4>
                </div>
                <div class="login-form-body" style="padding-top:0">
                    @if (Model.HasInvalidAccess)
                    {
                        <strong class="label-error-validate" id="response_login" style="color:red">@Model.Message</strong>
                    }
                    <div style="margin-top:20px">
                        <div class="form-gp showPass">
                            <label for="Password">Contraseña anterior</label>
                            <input asp-for="model.OldPassword" type="password" placeholder="" id="oldpassword" required />
                            <i class="ti-eye passOld" id="passOld"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp showPass">
                            <label for="Password">Contraseña nueva</label>
                            <input asp-for="model.NewPassword" type="password" placeholder="" id="newpassword" required />
                            <i class="ti-eye passNew" id="passNew"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp showPass">
                            <label for="Password">Confirmar Contraseña</label>
                            <input asp-for="model.ConfirmPassword" type="password" placeholder="" id="confirmpassword" required />
                            <i class="ti-eye passCon" id="passCon"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit_cambio" class="btn-primary mb-2" type="submit">Cambiar <i class="ti-arrow-right"></i></button>
                            <br/>
                            <button data-url="@Model.ReturnBaseUrl" id="btn-regresar" class="btn-secondary return" type="button"><i class="ti-arrow-left"></i> Regresar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <img src="~/images/cepheid_logo.svg" style=" margin: auto; margin-top: -90px;max-width:180px;" />
        </div>
    </div>
</div>
@if (Model.ShowMessage)
{
    <input type="hidden" id="showModal" value="@Model.ShowMessage.ToString()"/>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_cambiar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Informaci&oacute;n</h5>
                </div>
                <div class="modal-body">
                    Por favor cambia tu contraseña
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}