﻿@page
@model ErrorADModel
@{
    ViewData["Title"] = "Error al ingresar";
    //Layout = null;
    var tema = BAMBAS.CONFIG.ConfiguracionProyecto.TEMA;
}
<div class="login-area login-bg">
    <div class="container">
        <div class="login-box pt--30 pb--30">
            <form asp-page-handler="CerrarSesion" method="post">
                <div class="login-form-head">
                    <img src="~/assets/css/themes/@tema/img/logo-login.png" />
                    <h4>@Model.Message</h4>
                </div>
                <div class="login-form-body" style="padding-top:0">
                    @*<strong class="label-error-validate" id="response_login" style="color:red">@Model.Message</strong>*@
                    <div style="margin-top:20px">
                        <div class="submit-btn-area">
                            <button id="form_submit_cerrar" class="btn-primary" type="submit">Cerrar sesi&oacute;n <i class="ti-close"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <img src="~/images/cepheid_logo.svg" style=" margin: auto; margin-top: -90px;max-width:180px;" />
        </div>
    </div>
</div>