﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Tipo de Usuario";
    //Layout = null;
    var tema = BAMBAS.CONFIG.ConfiguracionProyecto.TEMA;
}

<div class="login-area login-bg">
    <div class="container">
        <div class="login-box pt--30 pb--30">
            <div class="m-auto">
                <div class="">
                    <div class="mt-1 d-inline-block">
                        <div class="card-body" style="height:fit-content;">
                            <form asp-page-handler="ActiveDirectory" method="post" class="form-indice">
                                <button class="" title="MMG">
                                    <img src="~/assets/css/themes/@tema/img/loginmmg.png" class="img-indice" />
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="mt-1 d-inline-block">
                        <div class="card-body" style="height:fit-content;">
                            <form asp-page-handler="LoginNormal" method="post" class="form-indice">
                                <button class="" title="Contratista">
                                    <img src="~/assets/css/themes/@tema/img/logincontratista.png" class="img-indice" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <img src="~/images/cepheid_logo.svg" style=" margin: auto; margin-top: -90px;max-width:180px;" />
        </div>
    </div>
</div>
