﻿@page
@model IndiceModel
@{
    ViewData["Title"] = "Módulos";
    //Layout = null;
    var tema = BAMBAS.CONFIG.ConfiguracionProyecto.TEMA;
}

<div class="login-area login-bg">
    <div class="container">
        <div class="login-box pt--30 pb--30">
            <div class="m-auto">
                <div class="">
                    @if (Model.AccesoSeguridad)
                    {
                        <div class="mt-1 d-inline-block">
                            <div class="card-body" style="height:fit-content;">
                                <form asp-page-handler="Seguridad" method="post" class="form-indice">
                                    <button class="" title="MÓDULO SEGURIDAD">
                                        <img src="~/assets/css/themes/@tema/img/seguridad.png" class="img-indice" />
                                        @*SEGURIDAD*@
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.AccesoPersona)
                    {
                        <div class="mt-1 d-inline-block">
                            <div class="card-body" style="height:fit-content;">
                                <form asp-page-handler="Persona" method="post" class="form-indice">
                                    <button class="" title="MÓDULO PERSONA">
                                        <img src="~/assets/css/themes/@tema/img/persona.png" class="img-indice" />
                                        @*PERSONA*@
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.AccesoTareo)
                    {
                        <div class="mt-1 d-inline-block">
                            <div class="card-body" style="height:fit-content;">
                                <form asp-page-handler="Tareo" method="post" class="form-indice">
                                    <button class="" title="MÓDULO TAREO">
                                        <img src="~/assets/css/themes/@tema/img/tareo.png" class="img-indice" />
                                        @*TAREO*@
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.AccesoEpp)
                    {
                        <div class="mt-1 d-inline-block">
                            <div class="card-body" style="height:fit-content;">
                                <form asp-page-handler="Epp" method="post" class="form-indice">
                                    <button class="" title="MÓDULO EPP">
                                        <img src="~/assets/css/themes/@tema/img/epp.png" class="img-indice" />
                                        @*TAREO*@
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <img src="~/images/cepheid_logo.svg" style=" margin: auto; margin-top: -90px;max-width:180px;" />
        </div>
    </div>
</div>
