﻿
<div class="form-group row">
    <div class="col-lg-10">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
    </div>
    <div class="col-lg-1">
        <label class="required-form-label">Habilitar</label>
        <input type="checkbox" class="form-control form-control-sm check-habilitar" >
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label class="required-form-label">D&iacute;as de Trabajo</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="number" class="form-control solonumeros form-control-sm" min="0" max="31" name="DTRBJDS" required>
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">D&iacute;as de Descanso</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="number" class="form-control solonumeros form-control-sm" min="0" max="31" name="DDSCNSO" required>
    </div>
</div>


@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />