﻿@{
    ViewData["Title"] = "Permisos por perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPerfilUsuario)" />
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active " id="perfilUsuario-tab" data-toggle="tab" href="#perfilUsuario" role="tab" aria-controls="home">Perfiles por usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="perfilObjeto-tab" data-toggle="tab" href="#perfilObjeto" role="tab" aria-controls="profile">Permisos por objetos</a>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="perfilUsuario" role="tabpanel" aria-labelledby="perfilUsuario-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="required-form-label">Perfiles</label>
                        <select class="form-control form-control-sm select-perfiles select-perfil-usuario">
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="d-block">&emsp;</label>
                        <button class="btn btn-xs btn-primary pull-right" id="guardar-perfilUsuario">
                            <i class="la la-save mr-1"></i>Guardar
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <table id="tablaPerfilUsuarios" class="table table-striped table-bordered">
                            <thead id="thPerfilUsuario">
                                <tr>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" class="check-total" >
                                                <span class="slider"></span>
                                        </label>
                                    </td>
                                    <td>
                                        Asignar
                                        @*<label class="switch">
                                        <input type="checkbox" class="check-total" >
                                        <span class="slider"></span>
                                        </label>*@
                                    </td>
                                    @*<td>ID</td>*@
                                    <td>Nombres</td>
                                    <td>Cod. Usuario</td>
                                    <td>Fec. Edición</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="perfilObjeto" role="tabpanel" aria-labelledby="perfilObjeto-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="required-form-label">Perfiles</label>
                        <select class="form-control form-control-sm select-perfiles select-perfil-objeto">
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="d-block">&emsp;</label>
                        <button class="btn btn-xs btn-primary pull-right" id="guardar-perfilObjeto">
                            <i class="la la-save mr-1"></i>Guardar
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="mt-4 mb-4">
                            <div id="arbolPerfilObjeto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/views/perfil-usuario/index.js" asp-append-version="true"></script>
}
