﻿@inject BAMBAS.Negocios.General.Seguridad.IPerfilObjetoProxy _perfilObjetoProxy
@model string
@{
    var controlesArray = new List<string>();
    if (Model == ControlesVistas.VistaTareo)
        controlesArray.AddRange(new List<string>(){ 
        
            ControlesVistas.Tareo.AgregarTareo,
            ControlesVistas.Tareo.EditarTareo,
            ControlesVistas.Tareo.EliminarTareo
        });


    var controles = string.Join(",", controlesArray);
    var perfiles = User.ObtenerPerfiles();
    var listaControles = await _perfilObjetoProxy.ListarControles(controles, perfiles);
}

@if (Model == ControlesVistas.VistaTareo)
{
    var accesoAgregarTareo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Tareo.AgregarTareo)?.ACCESO ?? false;
    //var accesoEditarTareo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Tareo.EditarTareo)?.ACCESO ?? false;
    //var accesoEliminarTareo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Tareo.EliminarTareo)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarTareo" value="@accesoAgregarTareo.ToString()" />
    @*<input type="hidden" id="accesoEditarTareo" value="@accesoEditarTareo.ToString()" />
    <input type="hidden" id="accesoEliminarTareo" value="@accesoEliminarTareo.ToString()" />*@
}

