﻿ <!-- header area start -->
<div class="header-area">
    <div class="row align-items-center">
        <div class="w-100">
            <div class="nav-btn pull-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-profile pull-right">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@User.GetFullName()<i class="fa fa-angle-down"></i></h4>
                <form asp-controller="Login" asp-action="Logout" method="get" id="logoutForm" class="navbar-right">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/@BAMBAS.CONFIG.ConfiguracionProyecto.CARPETAS_DESPLIEGUE.Tareo_Web/indice-modulos">Ir al &iacute;ndice de m&oacute;dulos</a>
                        <a class="dropdown-item" href="/@BAMBAS.CONFIG.ConfiguracionProyecto.CARPETAS_DESPLIEGUE.Tareo_Web/cambiar-contrasena">Cambiar contraseña</a>
                        <button type="submit" class="dropdown-item">Cerrar Sesi&oacute;n</button>
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>
<!-- header area end -->