﻿@model string
@{
    ViewData["Title"] = "500";
    Layout = "/Views/Shared/_LayoutError.cshtml";
}
<h2 class="text-center">500</h2>
<p class="text-center">Ha ocurrido un error</p>
<a href="@Model">Regresar</a>