﻿@{
    ViewData["Title"] = "Listado de Cargo";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Cargo" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaCargo)" />

<div class="row">
    <div class="col-lg-2">
        <label class="d-block">&emsp;</label>
        <a data-toggle="modal" id="btnCargo" href="#modal_cargo" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nuevo
        </a>
    </div>
    <div class="col-lg-3">
        <label class="required-form-label">Grupo de Cargo</label>
        <select class="form-control form-control-sm filtro-select-grupocargo select-grupocargo"></select>
    </div>
    <div class="col-lg-12">
        <table id="tabla_cargo" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalCargo" />

@section Scripts{
    <script src="~/js/views/cargo/index.js" asp-append-version="true"></script>
}
