﻿<div class="col-12">
    <div class="row form-group ">
        <div class="col-lg-6">
            <label class="required-form-label">Identificador</label> <span class="font-weight-bold" style="color:red">*</span>
            <input type="text" class="form-control alfanumerico text-uppercase form-control-sm" name="NOBJTO" placeholder="Identificador" required maxlength="150">
        </div>
        <div class="col-lg-6">
            <label class="required-form-label">Nombre descriptivo</label> <span class="font-weight-bold" style="color:red">*</span>
            <input type="text" class="form-control alfanumerico text-uppercase form-control-sm" name="DOBJTO" placeholder="Nombre descriptivo" required maxlength="150">
        </div>
    </div>
</div>
<input type="hidden" name="IDOBJTO" value="" />
@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />