﻿<div class="col-12">
    @*<div class="row form-group">
        <div class="col-lg-6">
            <label class="required-form-label">M&oacute;dulo</label>
            <select class="form-control form-control-sm select-modulos" name="IDMDLO" placeholder="Módulo" required></select>
        </div>
        <div class="col-lg-6">
            <label class="required-form-label">Objeto Padre</label>
            <select class="form-control form-control-sm select-objeto" name="IDOBJTOPDRE" placeholder="Padre"></select>
        </div>
    </div>*@
    <input type="hidden" name="IDOBJTOPDRE" value="" />
    <div class="row form-group">
        <div class="col-lg-6">
            <label class="required-form-label">Identificador</label>
            <input type="text" class="form-control sololetras text-uppercase form-control-sm" name="NOBJTO" placeholder="Identificador" required maxlength="150">
        </div>
        <div class="col-lg-6">
            <label class="required-form-label">Nombre descriptivo</label>
            <input type="text" class="form-control alfanumerico text-uppercase form-control-sm" name="DOBJTO" placeholder="Nombre descriptivo" required maxlength="150">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6">
            <label class="required-form-label">Url</label>
            <input type="text" class="form-control form-control-sm" name="URL" placeholder="Url" maxlength="150">
        </div>
        <div class="col-lg-6">
            <label class="required-form-label">Orden</label>
            <input type="number" step="1" value="0" max="20" min="0" class="form-control solonumeros form-control-sm" name="FORDN" placeholder="Orden" required>
        </div>
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />