﻿<div class="form-group d-flex mb-1">
    <div class="col-lg-3">
        <label class="required-form-label">C&oacute;digo</label>
        <input type="text" id="txtCodigo" name="ID-d" class="form-control form-control-sm" required maxlength="15" disabled />
    </div>
    <div class="col-lg-9">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" id="txtDescripcion" name="dprfl" class="form-control form-control-sm text-uppercase alfanumerico" required maxlength="150">
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />
