﻿@{
    ViewData["Title"] = "Listado Proyección Anual";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Proyección Anual" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaProyeccion)" />

<div class="container">
    <div class="row col-12 form-group">
        <a asp-controller="Proyeccion" asp-action="Datos" id="btnProyeccionNew" class="btn btn-primary btn-xs mr-1">
            <i class="la la-plus"></i> Nuevo
        </a>
    </div>
    <div class="row align-items-end mb-2">
        <div class="form-group  col-lg-8 col-sm-6 ">
            <label class="required-form-label">Proyecci&oacute;n</label>
            <input id="txtProyeccion" type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="PRYCCN" maxlength="150">
        </div>
        <div class="form-group  col-lg-2 col-sm-6 ">
            <label class="required-form-label">Año</label>
            <input id="txtanio" type="text" class="form-control solonumeros text-uppercase form-control-sm text-center" name="ANIO" maxlength="4">
        </div>
        <div class="form-group  col-lg-2 col-sm-6 ">
            <button id="btnBuscar" type="button" class="btn btn-primary btn-xs mr-1 btn-block"><i class="la la-search mr-1"></i>Buscar</button>
        </div>
    </div>
    <div class="row">
        <table id="tabla_proyeccion" class="table table-striped table-bordered"></table>
    </div>
</div>

@*<partial name="Partials/_ModalGrupoCargo" />*@

@section Scripts{
    <script src="~/js/views/proyeccion/index.js" asp-append-version="true"></script>
}
