﻿@model int?
@{
    ViewData["Title"] = "Real vs Proyectado";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Proyección Anual",Action ="Index",  Controller="Proyeccion"  },
        new BreadcrumbViewData{ Name = "Real vs Proyectado" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaProyeccion)" />

<div class="container">
    <input type="hidden" id="IdProyeccion" value="@(Model.HasValue ? Model.Value.ToString():"")" />
    <form action="/" method="post" id="RealvsProyectado_form">
        <div class="row align-items-end mb-2">
            <div class="form-group  col-lg-10 col-sm-6 ">
                <label class="required-form-label">Proyecci&oacute;n</label>
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="PRYCCN" readonly disabled maxlength="150">
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Año</label>
                <input type="text" class="form-control solonumeros text-uppercase form-control-sm text-center" name="ANIO" readonly disabled maxlength="150">
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Moneda</label>
                <select class="form-control form-control-sm form-select-moneda select-moneda" id="cboMoneda" readonly disabled name="GDTMNDA"></select>
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Importe Proyectado</label>
                <input type="text" class="form-control text-uppercase form-control-sm text-right" id="IMPRTEPRYTDO" readonly disabled name="TXTIMPORTE" maxlength="8">
            </div>
            <div class="form-group  col-lg-2 col-sm-6 ">
                <label class="required-form-label">Per Proyectado</label>
                <input type="text" class="form-control text-uppercase form-control-sm text-right" id="PRPRYTDO" readonly disabled name="TXTPERSONAL" maxlength="8">
            </div>
            <div class="form-group  col-lg-6 col-sm-6 ">
                <label class="required-form-label">Aprobado por</label>
                <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="APBDOX" readonly disabled maxlength="150">
            </div>
        </div>
        @* AUDITORIA *@
        <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
        <hr />
        <h4 class="text-center"><label id="lblMeses"></label></h4>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">GASTO PROYECTADO</legend>
            <div class="control-group">
                <input type="text" id="sliderProy" value="" />
            </div>
        </fieldset>
        <hr />
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">GASTO REAL</legend>
            <div class="control-group">
                <input type="text" id="sliderReal" value="" />
            </div>
        </fieldset>
        <hr />
        <div class="row">
            <div class="form-group col-lg-2 col-sm-6">
                <a class="btn btn-secondary btn-xs btn-block" asp-controller="Proyeccion" asp-action="Index">
                    <i class="la la-arrow-left mr-1"></i>Regresar
                </a>
            </div>
            <div class="form-group col-lg-8 col-sm-6">

            </div>
            <div class="form-group  col-lg-2 col-sm-6">
                <button id="btnDetalle" type="button" class="btn btn-info btn-xs btn-block"><i class="la la-angle-double-down mr-1"></i><span>Ver Detalle</span></button>
            </div>
        </div>
        <div class="row">
            <div id="DivbtnDescarga" class="form-group col-lg-2 col-sm-6">
                <button id="btnDescargar" type="button" class="btn btn-success btn-xs btn-block"><i class="la la-download mr-1"></i><span> Descargar </span><i class="la  la-file-excel mr-1"></i></button>
            </div>           
            <fieldset class="table-responsive">
                <table id="tabla_Detalle" class="table table-striped table-bordered dataTable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/js/views/proyeccion/RealvsProyectado.js" asp-append-version="true"></script>
}
