﻿@{
    ViewData["Title"] = "Asistencia de Tareo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[]
{
        new BreadcrumbViewData{ Name = "Listado Tareo", Action="Index", Controller="Tareo"},
        new BreadcrumbViewData{ Name = "Asistencia Tareo"}
    };
}
@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTareo)" />*@
<form action="/" method="post" id="FormularioAsistenciaTareo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row form-group">
                    <div class="col-lg-3">
                        <span class="required-form-span">Gerencia </span><span style="color:red">*</span>
                        <select id="IDGRNCA" name="IDGRNCA" class="form-control form-control-sm select-gerencia" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Superintendencia </span><span style="color:red">*</span>
                        <select id="IDSPRINTNDNCA" name="IDSPRINTNDNCA" class="form-control form-control-sm select-superintendencia" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">&Aacute;rea </span><span style="color:red">*</span>
                        <select id="IDARA" name="IDARA" class="form-control form-control-sm select-area" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Guardia </span><span style="color:red">*</span>
                        <select id="CBOGRDA" name="CBOGRDA" class="form-control form-control-sm select-grupo-guardia" required></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-3">
                        <span class="required-form-span">Roster </span><span style="color:red">*</span>
                        <input type="text" id="CBORSTR" name="CBORSTR" class="form-control form-control-sm" required disabled />
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Turno </span><span style="color:red">*</span>
                        <input type="text" id="CBOTURNO" name="CBOTURNO" class="form-control form-control-sm" required disabled />
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Fecha Inicio </span><span style="color:red">*</span>
                        <input type="text" id="TXTFINI" name="TXTFINI" class="form-control form-control-sm" required disabled />
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Fecha Final </span><span style="color:red">*</span>
                        <input type="text" id="TXTFFIN" name="TXTFFIN" class="form-control form-control-sm" required disabled />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6"><span id="msg5" style="color:red;" class="msg5"></span></div>
                </div>
                <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
            </div>
        </div>
    </div>
    <div class="container">
        <div id="grp_prsnl_tro" class="row">
            <table id="tbl_prsnl_aggdo" class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th class="text-center" width="1%"></th>
                        <th class="text-center">Código SAP</th>
                        <th class="text-center">Nombres y Apellidos / Raz&oacute;n</th>
                        <th class="text-center">Contratista</th>
                        <th class="text-center">Cargo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row form-group">
            <div class="col-lg-6"></div>
            <div class="col-lg-6" style="text-align: right;">
                <label class="d-block mb-0">&emsp;</label>
                <button type="button" class="btn btn-primary btn-xs gnrrTro"><i class="la la-save mr-1"></i>Generar Tareo</button>
            </div>
        </div>
    </div>
</form>
<partial name="Partials/_ModalAsignarPersonal" />
@section Scripts{
    <script asp-append-version="true" src="~/js/views/tareo/datos.js"></script>
}

