﻿@model int?
@{
    ViewData["Title"] = "Creación de Tareo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[]
{
        new BreadcrumbViewData{ Name = "Listado Tareo", Action="Index", Controller="Tareo"},
        new BreadcrumbViewData{ Name = "Nuevo Tareo"}
    };

}
@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTareo)" />*@
<input type="hidden" id="IdTareo" value="@(Model.HasValue ? Model.Value.ToString():"")" />
<form action="/" method="post" id="FormularioTareo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <input type="hidden" id="IdTrabajador" name="IDTRBJDR" value="@(((int?)ViewBag.IdTrabajador).HasValue ? ViewBag.IdTrabajador.ToString(): "")" />
                <div class="row form-group">
                    <div class="col-lg-3">
                        <span class="required-form-span">Gerencia </span><span style="color:red">*</span>
                        <select id="IDGRNCA" name="IDGRNCA" class="form-control form-control-sm select-gerencia" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Superintendencia </span><span style="color:red">*</span>
                        <select id="IDSPRINTNDNCA" name="IDSPRINTNDNCA" class="form-control form-control-sm select-superintendencia" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">&Aacute;rea </span><span style="color:red">*</span>
                        <select id="IDARA" name="IDARA" class="form-control form-control-sm select-area" required></select>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Guardia </span><span style="color:red">*</span>
                        <select id="CBOGRDA" name="CBOGRDA" class="form-control form-control-sm select-grupo-guardia" required></select>
                        <span id="msggrd" style="color:red;" class="msggrd"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <span class="required-form-span">Roster </span><span style="color:red">*</span>
                        <input type="text" id="CBORSTR" name="CBORSTR" class="form-control form-control-sm" required disabled />
                    </div>
                    <div class="col-lg-2">
                        <span class="required-form-span">Turno </span><span style="color:red">*</span>
                        <input type="text" id="CBOTURNO" name="CBOTURNO" class="form-control form-control-sm" required disabled />
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Fecha Inicio </span><span style="color:red">*</span>
                        <div class="input-group">
                            <input id="TXTFINI" name="TXTFINI" type="text" class="form-control form-control-sm" required />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <span id="msgF0" style="color:red;" class="msgF0"></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span class="required-form-span">Ciclos </span><span style="color:red">*</span>
                        <select name="CICLOS" id="CICLOS" class="form-control form-control-sm select-ciclo" required></select>
                        <span id="msgccl" style="color:red;" class="msgccl"></span>
                    </div>
                    <div class="col-lg-3">
                        <span class="required-form-span">Fecha Final </span><span style="color:red">*</span>
                        <input type="text" id="TXTFFIN" name="TXTFFIN" class="form-control form-control-sm" required disabled />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">
                        <span class="required-form-span">D&iacute;as de Trabajo </span>
                        <input type="text" id="DIASTRABAJADOS" class="form-control form-control-sm text-right" disabled />
                    </div>
                    <div class="col-lg-2">
                        <span class="required-form-span">D&iacute;as de Descanso </span>
                        <input type="text" id="DIASDESCANSO" class="form-control form-control-sm text-right" disabled />
                    </div>
                    <div class="col-lg-2">
                        <span class="required-form-span">D&iacute;as Totales del tareo </span>
                        <input type="text" id="TOTALDIAS" class="form-control form-control-sm text-right" disabled />
                    </div>
                    @if (!Model.HasValue && !((int?)ViewBag.IdPersona).HasValue)
                    {
                        <div class="col-lg-6" style="text-align: right;">
                            <label class="d-block mb-0">&emsp;</label>
                            <button type="button" class="btn btn-secondary btn-xs asignar-personal" data-toggle="modal" data-target="#modal_asignar_personal">
                                <i class="la la-user-check mr-1"></i>Asignar Personal
                            </button>
                            <button type="button" class="btn btn-primary btn-xs vista-previa"><i class="la la-eye mr-1"></i>Vista Previa</button>
                        </div>
                    }
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <span id="msg5" style="color:red;" class="msg5"></span>
                    </div>
                </div>
                <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
            </div>
        </div>
    </div>
    <div class="container">
        <div id="grp_prsnl_tro" class="row">
            <fieldset class="table-responsive">
                <div class="table-with-fixed-columns-div">
                    <table id="tbl_prsnl_aggdo" class="table table-striped table-bordered table-with-fixed-columns dataTable ">
                        <thead>
                            <tr>
                                <th class="text-center headcol" width="1%">&emsp;</th>
                                <th class="text-center ">Código SAP</th>
                                <th class="text-center">Nombres y Apellidos / Raz&oacute;n</th>
                                <th class="text-center">Contratista</th>
                                <th class="text-center">Cargo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </fieldset>
            @*<table id="tbl_prsnl_aggdo" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th class="text-center" width="1%"></th>
                            <th class="text-center">Código SAP</th>
                            <th class="text-center">Nombres y Apellidos / Raz&oacute;n</th>
                            <th class="text-center">Contratista</th>
                            <th class="text-center">Cargo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>*@
        </div>
        <div class="row form-group">
            <div class="col-lg-6"></div>
            <div class="col-lg-6" style="text-align: right;">
                <label class="d-block mb-0">&emsp;</label>
                <button type="button" class="btn btn-primary btn-xs gnrrTro"><i class="fa fa-floppy-o mr-1"></i>Generar Tareo</button>
            </div>
        </div>
    </div>
</form>
<partial name="Partials/_ModalAsignarPersonal" />
@section Scripts{
    <script asp-append-version="true" src="~/js/views/tareo/datos.js"></script>
}

