﻿@{
    ViewData["Title"] = "Tareo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Listado de Tareo" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTareo)" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row form-group">
                <div class="col-lg-12">
                    <span class="d-block">&nbsp;</span>
                    <a asp-controller="Tareo" asp-action="Datos" class="btn btn-primary btn-xs"><i class="la la-plus"></i>Nuevo Tareo</a>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">Gerencia</label>
                    <select id="cboGrncia" name="cboGrncia" class="form-control form-control-sm select-gerencia"></select>
                </div>
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">Superintendencia</label>
                    <select id="cboSprIntndncia" name="cboSprIntndncia" class="form-control form-control-sm select-superintendencia"></select>
                </div>
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">&Aacute;rea</label>
                    <select id="cboArea" name="cboArea" class="form-control form-control-sm select-area"></select>
                </div>
                <div class="col-lg-3" style="padding-top:1.8em">
                    <div class="form-check" id="checkBambas">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="defaultCheck1">Bambas</label>
                    </div>
                </div>
            </div>
            <div class="row form-group" id="areaContratista">
                <div class="col-lg-12">
                    <label class="required-form-label mb-0">Contratista</label>
                    <select id="cboCntrtsta" name="cboCntrtsta" class="form-control form-control-sm select-contratista"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">Roster</label>
                    <select id="cboRster" name="cboRster" class="form-control form-control-sm select-roster"></select>
                </div>
                <div class="col-lg-3">
                    <label class="required-form-label mb-0">Guardia</label>
                    <select id="cboCntrtsta" name="cboCntrtsta" class="form-control form-control-sm select-guardia"></select>
                   @* <input type="number" id="numGrdia" name="numGrdia" class="form-control form-control-sm" min="1" max="10" />*@
                </div>
                <div class="col-lg-3 input-fechas">
                    <label class="required-form-label mb-0">Fecha Inicio</label>
                    <div name="ValFInic" class="input-group">
                        <input id="txtFInic" name="txtFInic" class="form-control form-control-sm formatoFechas fRangoPers" type="text" required>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 input-fechas">
                    <label class="required-form-label mb-0">Fecha Final</label>
                    <div name="ValFFin" class="input-group">
                        <input id="txtFFin" name="txtFFin" class="form-control form-control-sm formatoFechas fRangoPers" type="text" required>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row form-group">
                <div class="col-lg-12" style="text-align:right;">
                    <span class="d-block">&nbsp;</span>
                    <button type="button" class="btn btn-primary btn-xs" id="btnBuscarTareo"><i class="fa fa-search mr-1"></i>Buscar</button>
                </div>
            </div>*@
        </div>
        <div class="col-lg-12">
            <table id="tabla_tareo" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
@section Scripts{
    <script asp-append-version="true" src="~/js/views/tareo/index.js"></script>
}
