﻿@{
    ViewData["Title"] = "Resumen de Tareo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Breadcrumbs"] = new[]
{
        new BreadcrumbViewData{ Name = "Listado Tareo", Action="Index", Controller="Tareo"},
        new BreadcrumbViewData{ Name = "Resumen Tareo"}
    };
}
@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaTareo)" />*@
<form action="/" method="post" id="FormularioTareo">
    <div class="container">
        <div class="row">
            <table id="" class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th class="text-center" width="1%"></th>
                        <th class="text-center">Código SAP</th>
                        <th class="text-center">Nombres y Apellidos / Raz&oacute;n</th>
                        <th class="text-center">Contratista</th>
                        <th class="text-center">Cargo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div id="grp_prsnl_tro" class="row">
            <table id="tbl_prsnl_aggdo" class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th class="text-center" width="1%"></th>
                        <th class="text-center">Código SAP</th>
                        <th class="text-center">Nombres y Apellidos / Raz&oacute;n</th>
                        <th class="text-center">Contratista</th>
                        <th class="text-center">Cargo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row form-group">
            <div class="col-lg-6"></div>
            <div class="col-lg-6" style="text-align: right;">
                <label class="d-block mb-0">&emsp;</label>
                <button type="button" class="btn btn-primary btn-xs gnrrTro"><i class="la la-save mr-1"></i>Generar Tareo</button>
            </div>
        </div>
    </div>
</form>
@*<partial name="Partials/_ModalAsignarPersonal" />*@
@section Scripts{
    @*<script asp-append-version="true" src="~/js/views/tareo/datos.js"></script>*@
}

