﻿<div class="col-12">
    <div class="row">
        <div class="form-group col-lg-2 col-sm-6 ">
            <label class="required-form-label">C&oacute;digo Interno</label>
            <input type="text" class="form-control solonumeros text-uppercase form-control-sm text-center" name="CINTRNO" readonly disabled maxlength="150">
        </div>
        <div class="form-group col-lg-7 col-sm-6 ">
            <label class="required-form-label">Descripci&oacute;n</label><span class="font-weight-bold" style="color:red">*</span>
            <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="DSCRPCN" required maxlength="150">
        </div>
        <div class="form-group col-lg-3 col-sm-6 ">
            <label class="required-form-label">C&oacute;digo SAP</label>
            <input type="text" class="form-control text-uppercase form-control-sm" name="CSAP" maxlength="150">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4 col-sm-6 ">
            <label class="required-form-label">Familia</label><span class="font-weight-bold" style="color:red">*</span>
            <select class="form-control form-control-sm form-select-familias select-familias" id="cboFamilia" required name="IDFMLA"></select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 ">
            <label class="required-form-label">Sub-Familia</label>
            <select class="form-control form-control-sm form-select-Subfamilias select-Subfamilias" id="cboSubFamilia" name="IDSBFMLA"></select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 ">
            <label class="required-form-label">Und. Med.</label><span class="font-weight-bold" style="color:red">*</span>
            <select class="form-control form-control-sm form-select-unidadmedida select-unidadmedida " id="cboUndMed" required name="GDUNDDMDDA"></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-2 col-sm-6">
            <label class="required-form-label">Costo $</label><span class="font-weight-bold" style="color:red">*</span>
            <input id="txtcsto" type="text" class="form-control text-right decimales" style="height:31px !important" name="CSTO" required maxlength="10">
            <div class="input-group input-group-sm" style="display:none">
                <div class="input-group-prepend">
                    <select class="input-group-text form-select-moneda select-moneda" style="background:white !important " id="cboMoneda" required name="GDTMNDA"></select>
                </div>
                @*<input type="text" class="form-control" style="height:31px !important" name="CSTO" required maxlength="10">*@
            </div>
        </div>
        <div class="form-group col-lg-3 col-sm-6 ">
            <label class="required-form-label">Duraci&oacute;n (Meses.)</label><span class="font-weight-bold" style="color:red">*</span>
            <input type="text" class="form-control solonumeros text-uppercase form-control-sm text-right" name="DRCN" required maxlength="10">
        </div>
        <div class="form-group col-lg-3 col-sm-6 " style="padding-left: 35px;">
            <label class="d-block">&emsp;</label>
            <input type="checkbox" class="form-check-input chkMnjtlls">
            <label class="form-check-label" for="chkMnjMlls">Maneja Tallas</label>
        </div>
        <div class="form-group col-lg-4 col-sm-6 " style="padding-left: 35px;">
            <label class="d-block">&emsp;</label>
            <input type="checkbox" class="form-check-input chkRstrc">
            <label class="form-check-label" for="chkRstrc">Maneja Restricciones</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-8 col-sm-6 ">
            <label class="required-form-label">C&oacute;digo de Barra</label>
            <label class="d-block">XXXXXXXXXXXXXXX</label>
        </div>
        <div style="display:none" class="col-lg-8 col-sm-6 ">
            <input type="text" class="form-control alfaNumCharEsp text-uppercase form-control-sm" name="CBRRA" maxlength="150">
        </div>
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
