﻿<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_articulo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" id="articulo_form" method="post">
                <div class="modal-body">
                    <!--Body-->
                    <partial name="_ArticuloForm.cshtml" />
                </div>
                <div class="modal-footer">
                    <button id="btnCerrarModal" type="button" class="btn btn-xs btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-xs btn-primary btn-save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>