﻿@{
    ViewData["Title"] = "Listado Gerencias";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Gerencias" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaGerencia)" />

<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnGerencia" href="#modal_gerencia" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_gerencia" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalGerencia" />

@section Scripts{
    <script src="~/js/views/gerencia/index.js" asp-append-version="true"></script>
}
