﻿
@{
    ViewData["Title"] = "Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPerfil)" />
<div class="container">
    <div class="row">
        <div class="col-10">
            <button type="button" class="btn btn-primary btn-xs btn-nuevo" data-toggle="modal" data-target="#mdlPerfil"><i class="la la-plus mr-1"></i>Nuevo</button>
        </div>

        @*<div class="">
            <input tyè="text" id="txtbuscar" class="form-control form-control-sm" />
        </div>*@
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tabla_perfil" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>
<input type="hidden" id="hfPerfil" />
<partial name="Partials/_ModalPerfil" />

@section Scripts{
    <script src="~/js/views/perfil/index.js" asp-append-version="true"></script>
}

