﻿<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_Articulo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-12">
                    <div class="row text-left">
                        <div class="form-group col-lg-12 col-sm-6">
                            <span class="span"><b>Trabajador: </b></span>
                            <span id="lblTrabajador" class="span"></span>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="form-group col-lg-12 col-sm-6">
                            <span class="span"><b>Búsqueda por:</b></span>
                            <span id="lblTitulo" class="span"></span>
                        </div>
                    </div>
                    <div id="Divtlls" class="row text-left" style="padding-left: 15px;">
                        <div class="form-group col-lg-12 col-sm-6">
                            <input type="checkbox" class="form-check-input chkMnjtlls">
                            <span class="form-check-span" for="chkMnjMlls">Todos los artículos que manejan Tallas</span>
                        </div>
                    </div>
                    <div id="DivRstrc" class="row text-left" style="padding-left: 15px;">
                        <div class="form-group col-lg-12 col-sm-6">
                            <input type="checkbox" class="form-check-input chkRstrc">
                            <span class="form-check-span" for="chkRstrc">Todos los artículos que manejan Restricciones</span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <table id="tabla_articulo" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnAgregarArticulos" class="btn btn-xs btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>