﻿<form id="usuario_form" asp-action="InsertarUsuario" asp-controller="Usuario" method="post">
    <div class="form-group col-12">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary btn-xs btn-BPersona" data-toggle="modal" href="#modal_buscar_persona">
                    <i class="ti-search mr-1"></i> Buscar Persona
                </button>
            </div>
        </div>
        <div class="row">
            <input type="hidden" class="" name="IDPRSNA" />
            <input type="hidden" class="" name="TDCMNTO" />
            <div class="col-lg-3 col-sm-6 ">
                <label>Usuario</label> <span class="font-weight-bold" style="color:red">*</span>
                <input type="text" class="form-control form-control-sm text-uppercase alfaNumCharMail" id="txtUsuario" name="CUSRO">
            </div>
            <div class="col-lg-3 col-sm-6 showPass">
                <label>Contraseña <span class="font-weight-bold" style="color:red">*</span></label> 
                <input type="password" class="form-control form-control-sm" id="txtClave" name="CLVE" maxlength="20">
                <i id="imgContrasena" data-activo=false class="fa fa-eye"></i>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Fecha Vencimiento</label>
                <input type="text" id="txtFVencimiento" name="FVCLVE" class="form-control form-control-sm datoPersona" maxlength="10" autocomplete="off" />
                <span id="mssg0" style="color:red;" class="mgrd0"></span>
            </div>
            <div class="col-lg-1 col-sm-6 " style="padding-left: 35px;">
                <label class="d-block">&emsp;</label>
                <input type="checkbox" class="form-check-input" id="chkBloqueo" name="FBLQUO">
                <label class="form-check-label" for="chkBloqueo">Bloqueo</label>
            </div>
            <div class="col-lg-2 col-sm-6 " style="padding-left: 35px;">
                <label class="d-block">&emsp;</label>
                <input type="checkbox" class="form-check-input" id="chkForzar" name="FRZRCMBOCLVE">
                <label class="form-check-label" for="chkForzar">Forzar Cambio Contraseña</label>
                <input type="checkbox" class="form-check-input d-none" id="chkContratista" name="FCNTRTSTA">
            </div>
        </div>
        <div class="row" id="personaNatural">
            <div class="col-lg-3 col-sm-6 ">
                <label>Primer Nombre</label>
                <input type="text" class="form-control form-control-sm text-uppercase datoPersona" id="txtPNombre" name="PNMBRE">
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Segundo Nombre</label>
                <input type="text" class="form-control form-control-sm text-uppercase datoPersona" id="txtSNombre" name="SNMBRE">
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Apellido Paterno</label>
                <input type="text" class="form-control form-control-sm text-uppercase datoPersona" id="txtAPaterno" name="APTRNO">
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Apellido Materno</label>
                <input type="text" class="form-control form-control-sm text-uppercase datoPersona" id="txtAMaterno" name="AMTRNO">
            </div>
        </div>
        <div class="row" id="personaJuridica">
            <div class="col-lg-9 col-sm-9 ">
                <label>Razon Social</label>
                <input type="text" class="form-control form-control-sm text-uppercase datoPersona" id="txtRSocial" name="RSCL">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 ">
                <label>Tipo Documento</label>
                <select class="form-control form-control-sm " id="cboTipoDocumento" name="GDDCMNTO"></select>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Nro. Documento</label>
                <input type="text" class="form-control form-control-sm datoPersona" id="txtNDocumento" name="NDCMNTO">
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <label>Nro. Teléfeno</label>
                <input type="text" class="form-control form-control-sm datoPersona" id="txtNTelefono" name="NTLFNO">
            </div>
        </div>
    </div>
    <partial name="/Views/Shared/Partials/_AuditoriaPartial2.cshtml" />
    <div class="row  mt-3">
        <div class="form-group  col-lg-2 col-sm-6">
            <button type="button" class="btn btn-secondary btn-xs pull-left btn-block btn-Atras">
                <i class="la la-arrow-left mr-1"></i>Regresar
            </button>
        </div>
        <div class="form-group  col-lg-8 col-sm-6">

        </div>
        <div class="form-group  col-lg-2 col-sm-6">
            <button type="submit" class="btn btn-primary btn-xs mr-1 btn-block btn-save"><i class="la la-save mr-1"></i>Guardar</button>
        </div>
    </div>

</form>
