﻿<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_buscar_persona">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Body-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="required-form-label">Tipo Persona</label>
                            <select id="cboTPersonaNJ" name="cboTPersonaNJ" class="form-control form-control-sm "></select>
                        </div>
                        <div class="col-lg-3">
                            <label class="required-form-label">Tipo Doc.</label>
                            <select id="cbo_TipoDocumento" name="cbo_TipoDocumento" class="form-control form-control-sm "></select>
                        </div>
                        <div class="col-lg-3">
                            <label class="required-form-label"> N. Doc</label>
                            <input id="txtNumDocumento" class="form-control form-control-sm solonumeros" type="text">
                        </div>
                        <div class="col-lg-3">
                            <label class="d-block">&emsp;</label>
                            <button class="btn btn-xs btn-primary pull-right" id="btnBuscarPersonaPopup">
                                <i class="fa fa-search mr-1"></i>Buscar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <label class="required-form-label"> Nombre y Apellido / Razón</label>
                            <input id="txtNombreRazon" class="form-control form-control-sm text-uppercase alfaNumCharEsp" type="text">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="tabla_Persona" class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-secondary" data-dismiss="modal" id="btnCerrarPopup">Cerrar</button>
            </div>
        </div>
    </div>
</div>
