﻿@{
    ViewData["Title"] = "Listado Objetos";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Objetos",  },
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaObjeto)" />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="objeto-padre-tab" data-toggle="tab" href="#objetoPadre" role="tab" aria-controls="home" aria-selected="true">Objetos Padre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="objeto-tab" data-toggle="tab" href="#objeto" role="tab" aria-controls="home" aria-selected="true">Objetos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="objetodetalle-tab" data-toggle="tab" href="#objetodetalle" role="tab" aria-controls="profile" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="objetoPadre" role="tabpanel" aria-labelledby="objeto-tab">
        <div class="row">
            <div class="col-lg-12">
                <a data-toggle="modal" href="#modal_objeto_padre" class="btn btn-primary btn-xs" id="nuevo-objeto-padre">
                    <i class="la la-plus"></i>Nuevo
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_objeto_padre" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="objeto" role="tabpanel" aria-labelledby="objeto-tab">
        <div class="row">
            <div class="col-lg-12">
                <a data-toggle="modal" href="#modal_objeto" class="btn btn-primary btn-xs" id="nuevo-objeto">
                    <i class="la la-plus"></i>Nuevo
                </a>
                &emsp;
                <button class="btn btn-primary btn-xs" id="nuevo-detalle" style="display:none">
                    <i class="la la-plus"></i>Nuevo Detalle
                </button>
            </div>
            <div class="col-lg-12">
                <table id="tabla_objeto" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="objetodetalle" role="tabpanel" aria-labelledby="objetodetalle-tab">
        <div class="row">
            <div class="col-lg-12">
                <label id="lblobjeto" name="lblobjeto" class="required-form-label"></label>
            </div>
            <div class="col-lg-12">
                <a data-toggle="modal" href="#modal_objetodetalle" class="btn btn-primary btn-xs" id="nuevo-objeto-detalle">
                    <i class="la la-plus"></i>Nuevo
                </a>
            </div>
            <div class="col-lg-12">
                <table id="tabla_objetodetalle" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="codigoObjetoPadre" />
<input type="hidden" id="codigoObjeto" />
<input type="hidden" id="codigoObjetoDetalle" />

<partial name="Partials/_ModalObjetoPadre" />
<partial name="Partials/_ModalObjeto" />
<partial name="Partials/_ModalObjetoDetalle" />

@section Scripts{
    <script src="~/js/views/objeto/index.js" asp-append-version="true"></script>
    @*<script src="~/js/views/grupo-dato/detalle.js"></script>*@
}
