﻿@inject BAMBAS.Negocios.Seguridad.IPerfilObjetoProxy _perfilObjetoProxy
@model string
@{
    var controlesArray = new List<string>();
    if (Model == ControlesVistas.VistaEmpresa)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Empresa.AgregarEmpresa,
        ControlesVistas.Empresa.EditarEmpresa,
        ControlesVistas.Empresa.EliminarEmpresa,
        ControlesVistas.Empresa.AgregarSucursal,
        ControlesVistas.Empresa.EditarSucursal,
        ControlesVistas.Empresa.EliminarSucursal,
        ControlesVistas.Empresa.AsignarUsuarios,
    });
    if (Model == ControlesVistas.VistaGrupoDato)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.GrupoDato.AgregarGrupoDato,
        ControlesVistas.GrupoDato.EditarGrupoDato,
        ControlesVistas.GrupoDato.EliminarGrupoDato,
        ControlesVistas.GrupoDato.AgregarGrupoDatoDetalle,
        ControlesVistas.GrupoDato.EditarGrupoDatoDetalle,
        ControlesVistas.GrupoDato.EliminarGrupoDatoDetalle,
    });
    if (Model == ControlesVistas.VistaParametro)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Parametro.AgregarParametro,
        ControlesVistas.Parametro.EditarParametro,
        ControlesVistas.Parametro.EliminarParametro,
    });
    if (Model == ControlesVistas.VistaUsuario)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Usuario.AgregarUsuario,
        ControlesVistas.Usuario.EditarUsuario,
        ControlesVistas.Usuario.EliminarUsuario,
        ControlesVistas.Usuario.PerfilesUsuario,
    });
    if (Model == ControlesVistas.VistaPerfil)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Perfil.AgregarPerfil,
        ControlesVistas.Perfil.EditarPerfil,
        ControlesVistas.Perfil.EliminarPerfil,
    });
    if (Model == ControlesVistas.VistaPerfilUsuario)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.PerfilUsuario.Guardar,
        ControlesVistas.PerfilObjeto.Guardar,
    });
    if (Model == ControlesVistas.VistaObjeto)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Objeto.AgregarObjeto,
        ControlesVistas.Objeto.EditarObjeto,
        ControlesVistas.Objeto.EliminarObjeto,
        ControlesVistas.Objeto.AgregarObjetoDetalle,
        ControlesVistas.Objeto.EditarObjetoDetalle,
        ControlesVistas.Objeto.EliminarObjetoDetalle,
    });
    if (Model == ControlesVistas.VistaGrupoCargo)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.GrupoCargo.AgregarGrupoCargo,
        ControlesVistas.GrupoCargo.EditarGrupoCargo,
        ControlesVistas.GrupoCargo.EliminarGrupoCargo,
    });
    if (Model == ControlesVistas.VistaAlmacen)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Almacen.AgregarAlmacen,
        ControlesVistas.Almacen.EditarAlmacen,
        ControlesVistas.Almacen.EliminarAlmacen,
        ControlesVistas.Almacen.ActualizacionStock,
    });
    if (Model == ControlesVistas.VistaCargo)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Cargo.AgregarCargo,
        ControlesVistas.Cargo.EditarCargo,
        ControlesVistas.Cargo.EliminarCargo,
    });
    if (Model == ControlesVistas.VistaFamilia)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Familia.AgregarFamilia,
        ControlesVistas.Familia.EditarFamilia,
        ControlesVistas.Familia.EliminarFamilia,
    });
    if (Model == ControlesVistas.VistaSubFamilia)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.SubFamilia.AgregarSubFamilia,
        ControlesVistas.SubFamilia.EditarSubFamilia,
        ControlesVistas.SubFamilia.EliminarSubFamilia,
    });
    if (Model == ControlesVistas.VistaArticulo)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Articulo.AgregarArticulo,
        ControlesVistas.Articulo.EditarArticulo,
        ControlesVistas.Articulo.EliminarArticulo,
        ControlesVistas.Articulo.ActualizacionPrecios,
    });
    if (Model == ControlesVistas.VistaKit)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Kit.AgregarKit,
        ControlesVistas.Kit.EditarKit,
        ControlesVistas.Kit.EliminarKit,
    });

    if (Model == ControlesVistas.VistaArea)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Area.AgregarArea,
        ControlesVistas.Area.EditarArea,
        ControlesVistas.Area.EliminarArea,
    });
    if (Model == ControlesVistas.VistaGerencia)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Gerencia.AgregarGerencia,
        ControlesVistas.Gerencia.EditarGerencia,
        ControlesVistas.Gerencia.EliminarGerencia,
    });
    if (Model == ControlesVistas.VistaGuardia)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Guardia.AgregarGuardia,
        ControlesVistas.Guardia.EliminarGuardia,
    });
    if (Model == ControlesVistas.VistaRoster)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Roster.AgregarRoster,
        ControlesVistas.Roster.EliminarRoster,
    });
    if (Model == ControlesVistas.VistaSuperintendencia)
        controlesArray.AddRange(new List<string>()
{

        ControlesVistas.Superintendencia.AgregarSuperintendencia,
        ControlesVistas.Superintendencia.EditarSuperintendencia,
        ControlesVistas.Superintendencia.EliminarSuperintendencia,
    });





    var controles = string.Join(",", controlesArray);
    var perfiles = User.ObtenerPerfiles();
    var listaControles = await _perfilObjetoProxy.ListarControles(controles, perfiles);

}


@if (Model == ControlesVistas.VistaEmpresa)
{
    var accesoAgregarEmpresa = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.AgregarEmpresa)?.ACCESO ?? false;
    var accesoEditarEmpresa = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.EditarEmpresa)?.ACCESO ?? false;
    var accesoEliminarEmpresa = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.EliminarEmpresa)?.ACCESO ?? false;
    var accesoAgregarSucursal = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.AgregarSucursal)?.ACCESO ?? false;
    var accesoEditarSucursal = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.EditarSucursal)?.ACCESO ?? false;
    var accesoEliminarSucursal = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.EliminarSucursal)?.ACCESO ?? false;
    var accesoAsignarUsuarios = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Empresa.AsignarUsuarios)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarEmpresa" value="@accesoAgregarEmpresa.ToString()" />
    <input type="hidden" id="accesoEditarEmpresa" value="@accesoEditarEmpresa.ToString()" />
    <input type="hidden" id="accesoEliminarEmpresa" value="@accesoEliminarEmpresa.ToString()" />
    <input type="hidden" id="accesoAgregarSucursal" value="@accesoAgregarSucursal.ToString()" />
    <input type="hidden" id="accesoEditarSucursal" value="@accesoEditarSucursal.ToString()" />
    <input type="hidden" id="accesoEliminarSucursal" value="@accesoEliminarSucursal.ToString()" />
    <input type="hidden" id="accesoAsignarUsuarios" value="@accesoAsignarUsuarios.ToString()" />
}
@if (Model == ControlesVistas.VistaGrupoDato)
{
    var accesoAgregarGrupoDato = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.AgregarGrupoDato)?.ACCESO ?? false;
    var accesoEditarGrupoDato = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.EditarGrupoDato)?.ACCESO ?? false;
    var accesoEliminarGrupoDato = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.EliminarGrupoDato)?.ACCESO ?? false;
    var accesoAgregarGrupoDatoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.AgregarGrupoDatoDetalle)?.ACCESO ?? false;
    var accesoEditarGrupoDatoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.EditarGrupoDatoDetalle)?.ACCESO ?? false;
    var accesoEliminarGrupoDatoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoDato.EliminarGrupoDatoDetalle)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarGrupoDato" value="@accesoAgregarGrupoDato.ToString()" />
    <input type="hidden" id="accesoEditarGrupoDato" value="@accesoEditarGrupoDato.ToString()" />
    <input type="hidden" id="accesoEliminarGrupoDato" value="@accesoEliminarGrupoDato.ToString()" />
    <input type="hidden" id="accesoAgregarGrupoDatoDetalle" value="@accesoAgregarGrupoDatoDetalle.ToString()" />
    <input type="hidden" id="accesoEditarGrupoDatoDetalle" value="@accesoEditarGrupoDatoDetalle.ToString()" />
    <input type="hidden" id="accesoEliminarGrupoDatoDetalle" value="@accesoEliminarGrupoDatoDetalle.ToString()" />
}
@if (Model == ControlesVistas.VistaParametro)
{
    var accesoAgregarParametro = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Parametro.AgregarParametro)?.ACCESO ?? false;
    var accesoEditarParametro = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Parametro.EditarParametro)?.ACCESO ?? false;
    var accesoEliminarParametro = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Parametro.EliminarParametro)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarParametro" value="@accesoAgregarParametro.ToString()" />
    <input type="hidden" id="accesoEditarParametro" value="@accesoEditarParametro.ToString()" />
    <input type="hidden" id="accesoEliminarParametro" value="@accesoEliminarParametro.ToString()" />
}
@if (Model == ControlesVistas.VistaUsuario)
{
    var accesoAgregarUsuario = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Usuario.AgregarUsuario)?.ACCESO ?? false;
    var accesoEditarUsuario = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Usuario.EditarUsuario)?.ACCESO ?? false;
    var accesoEliminarUsuario = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Usuario.EliminarUsuario)?.ACCESO ?? false;
    var accesoPerfilesUsuario = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Usuario.PerfilesUsuario)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarUsuario" value="@accesoAgregarUsuario.ToString()" />
    <input type="hidden" id="accesoEditarUsuario" value="@accesoEditarUsuario.ToString()" />
    <input type="hidden" id="accesoEliminarUsuario" value="@accesoEliminarUsuario.ToString()" />
    <input type="hidden" id="accesoPerfilesUsuario" value="@accesoPerfilesUsuario.ToString()" />
}
@if (Model == ControlesVistas.VistaPerfil)
{
    var accesoAgregarPerfil = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Perfil.AgregarPerfil)?.ACCESO ?? false;
    var accesoEditarPerfil = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Perfil.EditarPerfil)?.ACCESO ?? false;
    var accesoEliminarPerfil = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Perfil.EliminarPerfil)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarPerfil" value="@accesoAgregarPerfil.ToString()" />
    <input type="hidden" id="accesoEditarPerfil" value="@accesoEditarPerfil.ToString()" />
    <input type="hidden" id="accesoEliminarPerfil" value="@accesoEliminarPerfil.ToString()" />
}
@if (Model == ControlesVistas.VistaPerfilUsuario)
{
    var accesoGuardarPerfilUsuario = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.PerfilUsuario.Guardar)?.ACCESO ?? false;
    var accesoGuardarPerfilObjeto = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.PerfilObjeto.Guardar)?.ACCESO ?? false;
    <input type="hidden" id="accesoGuardarPerfilUsuario" value="@accesoGuardarPerfilUsuario.ToString()" />
    <input type="hidden" id="accesoGuardarPerfilObjeto" value="@accesoGuardarPerfilObjeto.ToString()" />
}
@if (Model == ControlesVistas.VistaObjeto)
{
    var accesoAgregarObjeto = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.AgregarObjeto)?.ACCESO ?? false;
    var accesoEditarObjeto = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.EditarObjeto)?.ACCESO ?? false;
    var accesoEliminarObjeto = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.EliminarObjeto)?.ACCESO ?? false;
    var accesoAgregarObjetoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.AgregarObjetoDetalle)?.ACCESO ?? false;
    var accesoEditarObjetoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.EditarObjetoDetalle)?.ACCESO ?? false;
    var accesoEliminarObjetoDetalle = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Objeto.EliminarObjetoDetalle)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarObjeto" value="@accesoAgregarObjeto.ToString()" />
    <input type="hidden" id="accesoEditarObjeto" value="@accesoEditarObjeto.ToString()" />
    <input type="hidden" id="accesoEliminarObjeto" value="@accesoEliminarObjeto.ToString()" />
    <input type="hidden" id="accesoAgregarObjetoDetalle" value="@accesoAgregarObjetoDetalle.ToString()" />
    <input type="hidden" id="accesoEditarObjetoDetalle" value="@accesoEditarObjetoDetalle.ToString()" />
    <input type="hidden" id="accesoEliminarObjetoDetalle" value="@accesoEliminarObjetoDetalle.ToString()" />
}
@if (Model == ControlesVistas.VistaGrupoCargo)
{
    var accesoAgregarGrupoCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoCargo.AgregarGrupoCargo)?.ACCESO ?? false;
    var accesoEditarGrupoCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoCargo.EditarGrupoCargo)?.ACCESO ?? false;
    var accesoEliminarGrupoCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.GrupoCargo.EliminarGrupoCargo)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarGrupoCargo" value="@accesoAgregarGrupoCargo.ToString()" />
    <input type="hidden" id="accesoEditarGrupoCargo" value="@accesoEditarGrupoCargo.ToString()" />
    <input type="hidden" id="accesoEliminarGrupoCargo" value="@accesoEliminarGrupoCargo.ToString()" />

}
@if (Model == ControlesVistas.VistaAlmacen)
{
    var accesoAgregarAlmacen = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Almacen.AgregarAlmacen)?.ACCESO ?? false;
    var accesoEditarAlmacen = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Almacen.EditarAlmacen)?.ACCESO ?? false;
    var accesoEliminarAlmacen = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Almacen.EliminarAlmacen)?.ACCESO ?? false;
    var accesoActualizacionStock = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Almacen.ActualizacionStock)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarAlmacen" value="@accesoAgregarAlmacen.ToString()" />
    <input type="hidden" id="accesoEditarAlmacen" value="@accesoEditarAlmacen.ToString()" />
    <input type="hidden" id="accesoEliminarAlmacen" value="@accesoEliminarAlmacen.ToString()" />
    <input type="hidden" id="accesoActualizacionStock" value="@accesoActualizacionStock.ToString()" />

}
@if (Model == ControlesVistas.VistaCargo)
{
    var accesoAgregarCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Cargo.AgregarCargo)?.ACCESO ?? false;
    var accesoEditarCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Cargo.EditarCargo)?.ACCESO ?? false;
    var accesoEliminarCargo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Cargo.EliminarCargo)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarCargo" value="@accesoAgregarCargo.ToString()" />
    <input type="hidden" id="accesoEditarCargo" value="@accesoEditarCargo.ToString()" />
    <input type="hidden" id="accesoEliminarCargo" value="@accesoEliminarCargo.ToString()" />

}
@if (Model == ControlesVistas.VistaArticulo)
{
    var accesoAgregarArticulo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Articulo.AgregarArticulo)?.ACCESO ?? false;
    var accesoEditarArticulo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Articulo.EditarArticulo)?.ACCESO ?? false;
    var accesoEliminarArticulo = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Articulo.EliminarArticulo)?.ACCESO ?? false;
    var accesoActualizacionPrecios = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Articulo.ActualizacionPrecios)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarArticulo" value="@accesoAgregarArticulo.ToString()" />
    <input type="hidden" id="accesoEditarArticulo" value="@accesoEditarArticulo.ToString()" />
    <input type="hidden" id="accesoEliminarArticulo" value="@accesoEliminarArticulo.ToString()" />
    <input type="hidden" id="accesoActualizacionPrecios" value="@accesoActualizacionPrecios.ToString()" />
}
@if (Model == ControlesVistas.VistaFamilia)
{
    var accesoAgregarFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Familia.AgregarFamilia)?.ACCESO ?? false;
    var accesoEditarFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Familia.EditarFamilia)?.ACCESO ?? false;
    var accesoEliminarFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Familia.EliminarFamilia)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarFamilia" value="@accesoAgregarFamilia.ToString()" />
    <input type="hidden" id="accesoEditarFamilia" value="@accesoEditarFamilia.ToString()" />
    <input type="hidden" id="accesoEliminarFamilia" value="@accesoEliminarFamilia.ToString()" />

}
@if (Model == ControlesVistas.VistaSubFamilia)
{
    var accesoAgregarSubFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.SubFamilia.AgregarSubFamilia)?.ACCESO ?? false;
    var accesoEditarSubFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.SubFamilia.EditarSubFamilia)?.ACCESO ?? false;
    var accesoEliminarSubFamilia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.SubFamilia.EliminarSubFamilia)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarSubFamilia" value="@accesoAgregarSubFamilia.ToString()" />
    <input type="hidden" id="accesoEditarSubFamilia" value="@accesoEditarSubFamilia.ToString()" />
    <input type="hidden" id="accesoEliminarSubFamilia" value="@accesoEliminarSubFamilia.ToString()" />

}
@if (Model == ControlesVistas.VistaKit)
{
    var accesoAgregarKit = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Kit.AgregarKit)?.ACCESO ?? false;
    var accesoEditarKit = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Kit.EditarKit)?.ACCESO ?? false;
    var accesoEliminarKit = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Kit.EliminarKit)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarKit" value="@accesoAgregarKit.ToString()" />
    <input type="hidden" id="accesoEditarKit" value="@accesoEditarKit.ToString()" />
    <input type="hidden" id="accesoEliminarKit" value="@accesoEliminarKit.ToString()" />

}


@if (Model == ControlesVistas.VistaArea)
{
    var accesoAgregarArea = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Area.AgregarArea)?.ACCESO ?? false;
    var accesoEditarArea = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Area.EditarArea)?.ACCESO ?? false;
    var accesoEliminarArea = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Area.EliminarArea)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarArea" value="@accesoAgregarArea.ToString()" />
    <input type="hidden" id="accesoEditarArea" value="@accesoEditarArea.ToString()" />
    <input type="hidden" id="accesoEliminarArea" value="@accesoEliminarArea.ToString()" />

}
@if (Model == ControlesVistas.VistaGerencia)
{
    var accesoAgregarGerencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Gerencia.AgregarGerencia)?.ACCESO ?? false;
    var accesoEditarGerencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Gerencia.EditarGerencia)?.ACCESO ?? false;
    var accesoEliminarGerencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Gerencia.EliminarGerencia)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarGerencia" value="@accesoAgregarGerencia.ToString()" />
    <input type="hidden" id="accesoEditarGerencia" value="@accesoEditarGerencia.ToString()" />
    <input type="hidden" id="accesoEliminarGerencia" value="@accesoEliminarGerencia.ToString()" />

}
@if (Model == ControlesVistas.VistaGuardia)
{
    var accesoAgregarGuardia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Guardia.AgregarGuardia)?.ACCESO ?? false;
    var accesoEliminarGuardia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Guardia.EliminarGuardia)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarGuardia" value="@accesoAgregarGuardia.ToString()" />
    <input type="hidden" id="accesoEliminarGuardia" value="@accesoEliminarGuardia.ToString()" />

}
@if (Model == ControlesVistas.VistaRoster)
{
    var accesoAgregarRoster = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Roster.AgregarRoster)?.ACCESO ?? false;
    var accesoEliminarRoster = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Roster.EliminarRoster)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarRoster" value="@accesoAgregarRoster.ToString()" />
    <input type="hidden" id="accesoEliminarRoster" value="@accesoEliminarRoster.ToString()" />

}
@if (Model == ControlesVistas.VistaSuperintendencia)
{
    var accesoAgregarSuperintendencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Superintendencia.AgregarSuperintendencia)?.ACCESO ?? false;
    var accesoEditarSuperintendencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Superintendencia.EditarSuperintendencia)?.ACCESO ?? false;
    var accesoEliminarSuperintendencia = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Superintendencia.EliminarSuperintendencia)?.ACCESO ?? false;

    <input type="hidden" id="accesoAgregarSuperintendencia" value="@accesoAgregarSuperintendencia.ToString()" />
    <input type="hidden" id="accesoEditarSuperintendencia" value="@accesoEditarSuperintendencia.ToString()" />
    <input type="hidden" id="accesoEliminarSuperintendencia" value="@accesoEliminarSuperintendencia.ToString()" />

} 