﻿@{
    ViewData["Title"] = "Listado Guardias";

    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData{ Name = "Guardia" }
    };
}
<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaGuardia)" />

<div class="row">
    <div class="col-lg-12">
        <a data-toggle="modal" id="btnGuardia" href="#modal_guardia" class="btn btn-primary btn-xs">
            <i class="la la-plus"></i>Nueva
        </a>
    </div>
    <div class="col-lg-12">
        <table id="tabla_guardia" class="table table-striped table-bordered"></table>
    </div>
</div>

<partial name="Partials/_ModalGuardia" />

@section Scripts{
    <script src="~/js/views/guardia/index.js" asp-append-version="true"></script>
}
