﻿<input type="hidden" name="ID" />
<hr />
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">Estado</label>
        @*<input type="text" class="form-control" name="CESTDO" placeholder="Estado" required maxlength="15">*@
        <select class="form-control form-control-sm select-estados" name="GDESTDO" placeholder="Estado" required></select>
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">F. Estado</label>
        <input type="text" class="form-control form-control-sm" name="cFESTDO" disabled>
    </div>
</div>
<div class="form-group d-flex"> 
    <div class="col-lg-6">
        <label class="required-form-label">U. Creaci&oacute;n</label>
        <input type="text" class="form-control form-control-sm" name="UCRCN" disabled>
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">F. Creaci&oacute;n</label>
        <input type="text" class="form-control form-control-sm" name="cFCRCN" disabled>
    </div>
</div>
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">U. Edici&oacute;n</label>
        <input type="text" class="form-control form-control-sm" name="UEDCN" disabled>
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">F. Edici&oacute;n</label>
        <input type="text" class="form-control form-control-sm" name="cFEDCN" disabled>
    </div>
</div>