﻿<input type="hidden" name="ID" />
<hr />
<div class="moduleA">
    <a role="button" class="collapsed text-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"></a>
    <div class="collapse multi-collapse">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <label class="required-form-label">Estado</label>
                    <select class="form-control form-control-sm select-estados" id="cboEstado" name="GDESTDO" required></select>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label">U. Creaci&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" id="txtUCreacion" name="UCRCN" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label">U. Edici&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" id="txtUEdicion" name="UEDCN" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="required-form-label">F. Estado</label>
                    <input type="text" class="form-control form-control-sm" id="txtFEstado" name="cFESTDO" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label">F. Creaci&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" id="txtFCreacion" name="cFCRCN" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label">F. Edici&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" id="txtFEdicion" name="cFEDCN" disabled>
                </div>
            </div>
        </div>
    </div>
</div>