﻿@inject BAMBAS.Negocios.General.Seguridad.IPerfilObjetoProxy _perfilObjetoProxy
@model string
@{
    var controlesArray = new List<string>();
    if (Model == ControlesVistas.VistaProyeccion)
        controlesArray.AddRange(new List<string>()
{
        ControlesVistas.Proyeccion.AgregarProyeccion,
        ControlesVistas.Proyeccion.EditarProyeccion,
        ControlesVistas.Proyeccion.EliminarProyeccion,
        
    });


    var controles = string.Join(",", controlesArray);
    var perfiles = User.ObtenerPerfiles();
    var listaControles = await _perfilObjetoProxy.ListarControles(controles, perfiles);
}

@if (Model == ControlesVistas.VistaProyeccion)
{
    var accesoAgregarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Proyeccion.AgregarProyeccion)?.ACCESO ?? false;
    var accesoEditarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Proyeccion.EditarProyeccion)?.ACCESO ?? false;
    var accesoEliminarPersona = listaControles.FirstOrDefault(x => x.IDOBJDET == ControlesVistas.Proyeccion.EliminarProyeccion)?.ACCESO ?? false;
    <input type="hidden" id="accesoAgregarProyeccion" value="@accesoAgregarPersona.ToString()" />
    <input type="hidden" id="accesoEditarProyeccion" value="@accesoEditarPersona.ToString()" />
    <input type="hidden" id="accesoEliminarProyeccion" value="@accesoEliminarPersona.ToString()" />
}

