﻿@model List<BAMBAS.Negocios.Modelos.Seguridad.PerfilObjeto.ArbolModel>
@{
    var moduloscount = 0;
    var objcount = 0;
    var hijoscount = 0;
    var detallescount = 0;
    const int TIPO_MODULO = 1;
    const int TIPO_OBJETO_PADRE = 2;
    const int TIPO_OBJETO_HIJO = 3;
    const int TIPO_DETALLE = 4;
}
@if (Model != null && Model.Count > 0)
{
    <div id="accordion">
        @foreach (var modulo in Model)
        {
            <div class="card">
                <div class="bd-highlight" id="heading-@moduloscount">
                    <div class="mb-0 d-flex justify-content-between my-1">
                        <div class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-@moduloscount" aria-expanded="true" aria-controls="collapse-@moduloscount">
                            @modulo.Texto
                        </div>
                        <div class=" pr--10 mt-2">
                            <label class="switch">
                                @if (modulo.Checkeado)
                                {
                                    <input type="checkbox" checked class="check-modulo" data-id="@modulo.Id" data-nodos="collapse-@moduloscount">
                                }
                                else
                                {
                                    <input type="checkbox" class="check-modulo" data-id="@modulo.Id" data-nodos="collapse-@moduloscount">
                                }
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="collapse-@moduloscount" class="collapse show" aria-labelledby="heading-@moduloscount" data-parent="#accordion">
                    <div class="pl--20">
                        @* acordeon modulo *@
                        <div id="accordion-@moduloscount">
                            @foreach (var obj in modulo.Nodos)
                            {
                                <div class="">
                                    <div class="bd-highlight" id="heading-@moduloscount-@objcount">
                                        <div class="mb-0 d-flex justify-content-between my-1">
                                            <div class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-@moduloscount-@objcount" aria-expanded="true" aria-controls="collapse-@moduloscount-@objcount">
                                                @obj.Texto
                                            </div>
                                            <div class=" pr--10 mt-2">
                                                <label class="switch">
                                                    @if (obj.Checkeado)
                                                    {
                                                        <input type="checkbox" checked class="check-objPadre" data-id="@obj.Id" data-nodos="collapse-@moduloscount-@objcount">
                                                    }
                                                    else
                                                    {
                                                        if (modulo.Checkeado)
                                                        {
                                                            <input type="checkbox" class="check-objPadre" data-id="@obj.Id" data-nodos="collapse-@moduloscount-@objcount">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="check-objPadre" disabled data-id="@obj.Id" data-nodos="collapse-@moduloscount-@objcount">
                                                        }
                                                    }
                                                    <span class="slider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapse-@moduloscount-@objcount" class="collapse show" aria-labelledby="heading-@moduloscount-@objcount" data-parent="#accordion-@moduloscount">
                                        <div class="pl--20">
                                            @* Acordeon objeto *@
                                            <div id="accordion-@moduloscount-@objcount">
                                                @foreach (var hijo in obj.Nodos)
                                                {
                                                    @if (hijo.Nodos != null && hijo.Nodos.Count() > 0 && hijo.Tipo== TIPO_OBJETO_HIJO)
                                                    {
                                                        <div class="">
                                                            <div class="bd-highlight" id="heading-@moduloscount-@objcount-@hijoscount">
                                                                <div class="mb-0 d-flex justify-content-between my-1">
                                                                    <div class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-@moduloscount-@objcount-@hijoscount" aria-expanded="true" aria-controls="collapse-@moduloscount-@objcount-@hijoscount">
                                                                        @hijo.Texto
                                                                    </div>
                                                                    <div class=" pr--10 mt-2">
                                                                        <label class="switch">
                                                                            @if (hijo.Checkeado)
                                                                            {
                                                                                <input type="checkbox" checked class="check-objHijo" data-id="@hijo.Id" data-nodos="collapse-@moduloscount-@objcount-@hijoscount">
                                                                            }
                                                                            else
                                                                            {
                                                                                if (obj.Checkeado)
                                                                                {
                                                                                    <input type="checkbox" class="check-objHijo" data-id="@hijo.Id" data-nodos="collapse-@moduloscount-@objcount-@hijoscount">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="checkbox" class="check-objHijo" disabled data-id="@hijo.Id" data-nodos="collapse-@moduloscount-@objcount-@hijoscount">
                                                                                }
                                                                            }
                                                                            <span class="slider"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="collapse-@moduloscount-@objcount-@hijoscount" class="collapse show" aria-labelledby="heading-@moduloscount-@objcount-@hijoscount" data-parent="#accordion-@moduloscount-@objcount">
                                                                <div class="pl--20 bd-highlight">
                                                                    @foreach (var detalle in hijo.Nodos)
                                                                    {
                                                                        <div class="pl--10 pr--10 mt-2 pt--10 pb--10">
                                                                            <div class="">
                                                                                @detalle.Texto
                                                                                <div class="float-right">
                                                                                    <label class="switch">
                                                                                        @if (detalle.Checkeado)
                                                                                        {
                                                                                            <input type="checkbox" checked class="check-detalle" data-id="@detalle.Id">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (hijo.Checkeado)
                                                                                            {
                                                                                                <input type="checkbox" class="check-detalle" data-id="@detalle.Id">
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <input type="checkbox" disabled class="check-detalle" data-id="@detalle.Id">
                                                                                            }
                                                                                        }
                                                                                        <span class="slider"></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        detallescount++;
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="bd-highlight">
                                                            <div class="pl--10 pr--10 mt-2 pt--10 pb--10">
                                                                <div class="">
                                                                    @hijo.Texto
                                                                    <div class="float-right">
                                                                        <label class="switch">
                                                                            @if (hijo.Checkeado)
                                                                            {
                                                                                <input type="checkbox" checked class="check-detalle-hijo" data-tipo="@hijo.Tipo" data-id="@hijo.Id">
                                                                            }
                                                                            else
                                                                            {
                                                                                if (obj.Checkeado)
                                                                                {
                                                                                    <input type="checkbox" class="check-detalle-hijo" data-tipo="@hijo.Tipo" data-id="@hijo.Id">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="checkbox" disabled class="check-detalle-hijo"  data-tipo="@hijo.Tipo" data-id="@hijo.Id">
                                                                                }
                                                                            }
                                                                            <span class="slider"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    hijoscount++;
                                                }
                                            </div>
                                            @*  *@
                                        </div>
                                    </div>
                                </div>
                                objcount++;
                            }
                        </div>
                        @*  *@
                    </div>
                </div>
            </div>
            moduloscount++;
        }
    </div>
}
else
{
    <p class="text-center" style="background-color: rgba(0,0,0,.05);border: 1px solid rgba(120, 130, 140, 0.13) !important;">
        Por favor, seleccione un perfil.
    </p>
}

<input type="hidden" class="datosArbol" value="@System.Text.Json.JsonSerializer.Serialize(Model)" />
