﻿@model BAMBAS.Negocios.Modelos.Seguridad.GrupoDato.GrupoDatoEmpresaDto

<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">C&oacute;digo</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfanumerico form-control-sm text-uppercase" asp-for="CGDTO" placeholder="Código" required maxlength="15">
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfanumerico form-control-sm text-uppercase" asp-for="DGDTO" placeholder="Descripción" required maxlength="150">
    </div>
</div>
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">Abreviatura</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfanumerico form-control-sm text-uppercase" asp-for="AGDTO" placeholder="Abreviatura" required maxlength="50">
    </div>
</div>

@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />