﻿@model BAMBAS.Negocios.Modelos.Seguridad.GrupoDatoDetalle.GrupoDatoDetalleDto
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">C&oacute;digo</label>
        <input type="text" class="form-control alfanumerico form-control-sm" asp-for="CGDTO" placeholder="Código" maxlength="15" disabled name="CGDTO">
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">Descripci&oacute;n</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfanumerico form-control-sm text-uppercase" asp-for="DGDDTLLE" placeholder="Descripción" required maxlength="150">
    </div>
</div>
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">Abreviatura</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control alfanumerico form-control-sm text-uppercase" asp-for="AGDDTLLE" placeholder="Abreviatura" required maxlength="50">
    </div>
    <div class="col-lg-6">
        <label class="required-form-label">Valor 1</label> <span class="font-weight-bold" style="color:red">*</span>
        <input type="text" class="form-control form-control-sm text-uppercase" asp-for="VLR1" placeholder="Valor 1" required maxlength="250">
    </div>
</div>
<div class="form-group d-flex">
    <div class="col-lg-6">
        <label class="required-form-label">Valor 2</label>
        <input type="text" class="form-control form-control-sm text-uppercase" asp-for="VLR2" placeholder="Valor 2" maxlength="250">
    </div>
</div>
@* AUDITORIA *@
<partial name="/Views/Shared/Partials/_AuditoriaPartial.cshtml" />